@if (errorCode === genericServiceErrorCode.INTREGEMISSIONSINSTAVUKETS1007) {
  <app-page-heading size="xl">Registry application data synchronisation error</app-page-heading>

  <p class="govuk-body">
    We're experiencing temporary difficulties in syncing data. Please try again later or contact the
    <a href="/contact-us" rel="noreferrer noopener" target="_blank" govukLink class="govuk-!-font-weight-bold">
      UK ETS reporting helpdesk
    </a>
    for assistance.
  </p>
} @else if (errorCode === genericServiceErrorCode.INTREGACCOUNTCREATEUKETS1000) {
  <app-page-heading size="xl">Sorry, the service could not send information to Registry</app-page-heading>
  <p class="govuk-body">We're experiencing temporary difficulties in syncing data,</p>
  <p class="govuk-body">Try again later.</p>
  <p class="govuk-body">
    Contact
    <a href="/contact-us" rel="noreferrer noopener" target="_blank" govukLink class="govuk-!-font-weight-bold">
      UK ETS reporting helpdesk
    </a>
    for assistance.
  </p>
} @else if (errorCode === genericServiceErrorCode.INTREGACCOUNTCREATEUKETS1001) {
  <app-page-heading size="xl">Sorry, the service could not send information to Registry</app-page-heading>
  <p class="govuk-body">This account is already associated with a UK ETS Registry ID</p>
  <p class="govuk-body">
    Contact
    <a href="/contact-us" rel="noreferrer noopener" target="_blank" govukLink class="govuk-!-font-weight-bold">
      UK ETS reporting helpdesk
    </a>
    for assistance.
  </p>
} @else {
  <app-page-heading size="xl">Sorry, there is a problem with the service</app-page-heading>

  <p class="govuk-body">Try again later.</p>

  <p class="govuk-body">
    <a href="/contact-us" rel="noreferrer noopener" target="_blank" govukLink class="govuk-!-font-weight-bold">
      Contact the UK ETS reporting helpdesk
    </a>
    if you have any questions.
  </p>
}
