<app-procedure-form-step [form]="form" (submitForm)="onSubmit()">
  <div procedureFormPageHeader>
    <app-page-heading>Uplift quantity cross-checks</app-page-heading>
    <p class="govuk-body">
      Describe the procedure used to ensure regular cross-checks between uplift quantity as provided by invoices, and
      uplift quantity indicated by on-board measurement. State where you observe deviations and what corrective actions
      you are taking.
    </p>
  </div>
</app-procedure-form-step>
