<govuk-error-summary *ngIf="displayErrorSummary$ | async" [form]="form"></govuk-error-summary>
<app-page-heading>Check your answers</app-page-heading>

<h2 class="govuk-heading-m">Return of allowances details</h2>

<app-ra-summary-template [payload]="payload$ | async" [isEditable]="isEditable$ | async"></app-ra-summary-template>

<div class="govuk-button-group" *ngIf="isEditable$ | async">
  <button (click)="onSubmit()" appPendingButton govukButton type="button">Confirm and complete</button>
</div>

<a govukLink routerLink="..">Return to: Return of allowances</a>
