<div class="overflow-auto overflow-auto-table aircraft-table">
  <govuk-table *ngIf="aircraftTypes?.length" [columns]="columns" [data]="aircraftTypes">
    <ng-template let-column="column" let-index="index" let-row="row">
      <div [ngSwitch]="column.field" class="cell-container">
        <ng-container *ngSwitchCase="'aircraftTypeInfo'">
          <div
            data-testid=" at-description"
            [ngClass]="{ 'missing-method': (row | aircraftTypeMethodTypes: isFUMM) === 'Missing' }"
          >
            {{ row.aircraftTypeInfo | aircraftTypeDescription }}
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'numberOfAircrafts'">
          <div class="amount" data-testid="at-amount">
            {{ row[column.field] }}
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'fuelTypes'">
          <div data-testid="at-fuel-types">
            <span *ngFor="let fuelType of row | aircraftTypeFuelTypes: isCorsia; let i = index">
              {{ i < (row | aircraftTypeFuelTypes: isCorsia).length - 1 ? fuelType + ',' : fuelType }} <br />
            </span>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'fuelConsumptionMeasuringMethod'">
          <div data-testid="at-methods" [ngClass]="{ error: (row | aircraftTypeMethodTypes: isFUMM) === 'Missing' }">
            {{ row | aircraftTypeMethodTypes: isFUMM }}
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'actions'" data-testid="at-actions">
          <div class="actions">
            <a
              govukLink
              [routerLink]="changeUrl"
              [queryParams]="{
                isCurrentlyUsed: row.isCurrentlyUsed ? 1 : 0,
                aircraftTypeIndex: row.idx,
                change: 'true'
              }"
              >Change</a
            >
            <a govukLink [routerLink]="removeUrl" [queryParams]="{ aircraftTypeIndex: row.idx, change: 'true' }"
              >Remove</a
            >
          </div>
        </ng-container>
        <ng-container *ngSwitchDefault>{{ row[column.field] }}</ng-container>
      </div>
    </ng-template>
  </govuk-table>
</div>
