<ng-container formGroupName="details">
  <ng-container *ngIf="formGroupDirective.form.get('id'); else addLegend">
    <span class="govuk-visually-hidden">Edit verification body details</span>
  </ng-container>
  <ng-template #addLegend>
    <h2 class="govuk-heading-m">Add a verification body</h2>
  </ng-template>
  <div
    autoComplete="organization"
    formControlName="name"
    govuk-text-input
    label="Name of verification body organisation"
    labelSize="medium"></div>
  <h3 class="govuk-heading-m">Address</h3>

  <app-address-input formGroupName="address"></app-address-input>
</ng-container>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
<div formControlName="types" govuk-checkboxes label="Type of verification body" labelSize="medium">
  <govuk-checkbox *ngFor="let option of typeOptions" [label]="option | verificationBodyType" [value]="option">
    <ng-container govukConditionalContent>
      <div
        [attr.autoComplete]="'accreditation-ref-num-' + option"
        [formControlName]="'accreditationRefNum_' + option"
        govuk-text-input
        label="Accreditation reference number"></div>
      <div
        [attr.autoComplete]="'accreditation-name-' + option"
        [formControlName]="'accreditationName_' + option"
        govuk-text-input
        label="Name of the National Accreditation Body"></div>
    </ng-container>
  </govuk-checkbox>
</div>
