<app-permit-task
  reviewGroupTitle="Monitoring methodology"
  reviewGroupUrl="monitoring-methodology-plan"
  [breadcrumb]="true">
  <app-page-heading caption="Monitoring methodology plan">Check your answers</app-page-heading>

  <app-mmp-procedures-summary-template></app-mmp-procedures-summary-template>

  <div class="govuk-button-group">
    <button
      appPendingButton
      govukButton
      type="button"
      (click)="confirm()"
      *ngIf="(store.isEditable$ | async) === true && (hideSubmit$ | async) === false">
      Confirm and complete
    </button>
  </div>
  <app-list-return-link
    reviewGroupTitle="Monitoring Methodology Plan"
    reviewGroupUrl="monitoring-methodology-plan"></app-list-return-link>
</app-permit-task>
