<app-wizard-step
  (formSubmit)="onSubmit()"
  [formGroup]="form"
  submitText="Confirm and complete"
  [hideSubmit]="false"
  heading="First year of Registry reporting obligation">
  <p class="govuk-body">
    This field is mandatory for UK ETS GHGE installations. It will update the 'First year of verified emissions' field
    in the Registry service.
  </p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div formControlName="registryReportingFirstYear" govuk-text-input inputType="number"></div>
    </div>
  </div>
</app-wizard-step>
