<app-bdrs2-task-review
  [breadcrumb]="true"
  returnToLink="../.."
  heading="What is your decision on the installation sector?"
  caption="Outcome of regulator review">
  <app-wizard-step (formSubmit)="onSubmit()" [formGroup]="form" [hideSubmit]="!isEditable()">
    <div class="govuk-!-width-two-thirds">
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
            Is your installation in the aluminium, cement, fertiliser, hydrogen, iron or steel sector?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ bdrPayload()?.bdrs2?.bdrs2guardQuestions?.inEiteSector ? 'Yes' : 'No' }}
          </dd>
        </div>
      </dl>

      <div
        formControlName="installationSectorOpinion"
        govuk-radio
        legend="What is your opinion on the installation sector?"
        legendSize="medium">
        <govuk-radio-option
          value="IN_SCOPE_OF_CBAM"
          label="Installation sector is in scope of CBAM"></govuk-radio-option>
        <govuk-radio-option value="CBAM_DOES_NOT_APPLY" label="CBAM does not apply"></govuk-radio-option>
      </div>

      <h2 class="govuk-heading-m govuk-!-margin-0">Review notes (visible to the operator)</h2>
      <div formControlName="operatorNotes" govuk-textarea [maxLength]="10000" rows="5"></div>

      <h2 class="govuk-heading-m govuk-!-margin-0">Review notes (not visible to the operator)</h2>
      <div formControlName="internalNotes" govuk-textarea [maxLength]="10000" rows="5"></div>
    </div>
  </app-wizard-step>
</app-bdrs2-task-review>
