<h2 class="govuk-heading-m">Further information related to the assessment</h2>

<div class="govuk-body govuk-!-width-two-thirds">
  <dl govuk-summary-list>
    @if (yearEqualAfter25) {
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>Objectives and scope of the Verification</dt>
        <dd govukSummaryListRowValue class="pre-wrap">
          To verify the Operator's or Aircraft Operator's annual emissions to a reasonable level of assurance for the
          Annual Emissions Report (as summarised in the Opinion Statement) under UK ETS and confirm compliance with
          approved monitoring requirements, approved EMP, or approved monitoring plan and the MRR as amended by the
          Order.
        </dd>
        <dd govukSummaryListRowActions></dd>
      </div>

      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>Responsibilities</dt>
        <dd govukSummaryListRowValue class="pre-wrap">
          <p>
            The Operator or Aircraft Operator is solely responsible for the preparation and reporting of their annual
            greenhouse gas (GHG) emissions for the purposes of UK ETS in accordance with the rules and their approved
            monitoring plan or EMP (as listed in the Opinion Statement); for any information and assessments that
            support the reported data; for determining the Operator's or Aircraft Operator's objectives in relation to
            GHG information and for establishing and maintaining appropriate procedures, performance management and
            internal control systems from which the reported information is derived.
          </p>

          <p>The regulator is responsible for:</p>
          <ul>
            <li>
              issuing and varying applicable monitoring plans or EMPs to Operators or Aircraft Operators respectively;
            </li>
            <li>enforcing the requirements of the MRR as amended by the Order and the Permit or EMP Conditions;</li>
            <li>
              agreeing certain aspects of the verification process, e.g. site visit waivers. Under certain
              circumstances, the regulator may in accordance with Article 45 of the Greenhouse Gas Emissions Trading
              Scheme Order 2020 (SI 2020/1265) determine an Operator's or Aircraft Operator's emissions for the purposes
              of UK ETS.
            </li>
          </ul>

          <p>
            We (as named on the Opinion Statement), in accordance with the verification contract and the AVR as amended
            by the Order, are responsible for carrying out the verification of an Operator's or Aircraft Operator's
            annual CO2 emissions associated with its regulated activity or aviation activities respectively, independent
            of the Operator or Aircraft Operator and the regulator responsible for UK ETS. It is our responsibility to
            form an independent opinion, based on the examination of information and data presented in the Annual
            Emissions Report, and to report that opinion to the Operator or Aircraft Operator.
          </p>

          <p>We also report if, in our opinion:</p>
          <ul>
            <li>
              the Annual Emissions Report is or may be associated with misstatements (omissions, misrepresentations, or
              errors) or non-conformities; or
            </li>
            <li>
              the Operator or Aircraft Operator is not complying with the MRR as amended by the Order, even if the
              monitoring plan or EMP is approved by the regulator.
            </li>
            <li>
              the UK ETS lead auditor/auditor has not received all the information and explanations that they require to
              conduct their examination to a reasonable level of assurance; or
            </li>
            <li>
              improvements can be made to the Operator's or Aircraft Operator's performance in monitoring and reporting
              of emissions and/or compliance with the approved monitoring plan or EMP and MRR as amended by the Order.
            </li>
          </ul>
        </dd>
        <dd govukSummaryListRowActions></dd>
      </div>

      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>Work performed & basis of the opinion</dt>
        <dd govukSummaryListRowValue class="pre-wrap">
          We conducted our examination having regard to the verification criteria reference documents outlined below.
          This involved examining, based upon our risk analysis, evidence to give us reasonable assurance that the
          amounts and disclosures relating to the data have been properly prepared in accordance with the Order and
          principles of UK ETS, as outlined in the UK ETS criteria reference documents below, and the Operator's
          approved monitoring plan or Aircraft Operator's approved EMP. This also involved assessing where necessary
          estimates and judgements made by the Operator or Aircraft Operator in preparing the data and considering the
          overall adequacy of the presentation of the data in the Annual Emissions Report and its potential for material
          misstatement.
        </dd>
        <dd govukSummaryListRowActions></dd>
      </div>
    }
    <!-- Materiality level -->
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Materiality level</dt>
      <dd govukSummaryListRowValue class="pre-wrap">
        {{ materialityLevel.materialityDetails }}

        @if (yearEqualAfter25) {
          <br />
          GHG quantification is subject to inherent uncertainty due to the designed capability of measurement
          instrumentation and testing methodologies and incomplete scientific knowledge used in the determination of
          emissions factors and global warming potentials.
        }
      </dd>

      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="['../']" [queryParams]="queryParams">Change</a>
      </dd>
    </div>

    <!-- Accreditation reference documents -->
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Accreditation reference documents</dt>
      <dd govukSummaryListRowValue class="pre-wrap">
        <div *ngFor="let type of materialityLevel.accreditationReferenceDocumentTypes">
          <span *ngIf="type === 'OTHER'; else typeValue">
            {{ materialityLevel.otherReference }}
            <br />
            <br />
          </span>

          <ng-template #typeValue>
            {{ type | accreditationReferenceDocumentName }}
            <br />
            <br />
          </ng-template>
        </div>
      </dd>

      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="['../reference-documents']" [queryParams]="queryParams">Change</a>
      </dd>
    </div>
  </dl>
</div>
