@use 'govuk-frontend/govuk/base' as govuk;

.row-flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: -(govuk.govuk-spacing(3));
  margin-right: -(govuk.govuk-spacing(3));
}

.align-items-end {
  align-items: flex-end;
}

.col-flex-three-quarters {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: govuk.govuk-grid-width('three-quarters');
  padding: 0 govuk.govuk-spacing(3);
}

.col-flex-one-quarter {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: govuk.govuk-grid-width('one-quarter');
  padding: 0 govuk.govuk-spacing(3) 0 0;
}
