<app-procedure-form-step [form]="form" (submitForm)="onSubmit()">
  <div procedureFormPageHeader>
    <div class="govuk-caption-l">Fuel uplift</div>

    <app-page-heading> Measurement of fuel uplift and block hours per flight </app-page-heading>

    <p class="govuk-body">
      Describe how you monitor fuel consumption and block-hour per flight in owned and leased-in aircraft.
    </p>

    <p class="govuk-body">You should include:</p>

    <ul class="govuk-body" *ngIf="(isCorsia$ | async) === true; else uketsList">
      <li>
        the exact points in time for the measurement of block hours per flight (necessary to calculate the fuel
        consumption per flight for international flights with zero uplift, and for the following flights)
      </li>
      <li>a description of the measurement equipment</li>
      <li>the procedures for recording, retrieving, transmitting and storing information</li>
      <li>reference to any relevant documentation</li>
    </ul>
    <ng-template #uketsList>
      <ul class="govuk-body">
        <li>the exact points in time for the measurement of block hours per flight</li>
        <li>a description of the measurement equipment</li>
        <li>the procedures for recording, retrieving, transmitting and storing information</li>
        <li>reference to any corresponding documentation</li>
      </ul>
    </ng-template>

    <govuk-details summary="Fuel uplift formula: FN = UN">
      <div class="govuk-!-padding-left-3 govuk-!-padding-bottom-3">
        <div>
          FN = fuel consumed for the flight under consideration (flight = N) determined using fuel uplift (in tonnes)
        </div>
        <div class="govuk-!-padding-bottom-3">
          UN = fuel uplift for the flight considered, measured in volume and multiplied with a density value (in tonnes)
        </div>
      </div>

      <p class="govuk-!-padding-left-3 govuk-!-padding-bottom-3">
        For flights without a fuel uplift, you should use the following formula to allocate fuel use from the prior fuel
        uplift proportionally to block-hour (BHN):
      </p>

      <div class="govuk-!-padding-left-3 govuk-!-padding-bottom-3">
        <div>FN = UN * [BHN / ( BHN + BHN+1 + ...+ BHN+n)]</div>
        <div>FN+1 = UN * [BHN+1 / (BHN + BHN+1 + ...+ BHN+n)]</div>
        <div>FN+n = UN * [BHN+n / (BHN + BHN+1 + ...+ BHN+n)]</div>
      </div>
    </govuk-details>
  </div>
</app-procedure-form-step>
