<app-bdrs2-task-review returnToLink="../" [breadcrumb]="true">
  <app-page-heading caption="Stage 2 BDR verification opinion statement">
    Review the stage 2 BDR verification opinion statement
  </app-page-heading>
  <app-opinion-statement-summary-template
    [notes]="bdrs2Payload()?.verificationReport?.opinionStatement?.notes"
    [opinionStatementFile]="opinionStatementFile()"
    [supportingFiles]="supportingFiles()"
    opinionStatementFilesText="Uploaded stage 2 BDR verification opinion statement"></app-opinion-statement-summary-template>
  <app-bdrs2-verification-review-group-decision></app-bdrs2-verification-review-group-decision>
</app-bdrs2-task-review>
