<app-aer-task>
  <app-wizard-step
    (formSubmit)="onSubmit()"
    [formGroup]="form"
    heading="European Pollutant Release and Transfer Register codes (PRTR)"
    [hideSubmit]="(isEditable$ | async) === false"
  >
    <p class="govuk-body">
      <strong>PRTR reporting is <u>not</u> required for UK ETS - therefore enter 'no' in this section.</strong>
    </p>
    <app-boolean-radio-group controlName="exist"></app-boolean-radio-group>
  </app-wizard-step>

  <app-return-link></app-return-link>
</app-aer-task>
