<app-request-action-task
  *ngIf="vm$ | async as vm"
  [header]="vm.pageHeader"
  [requestActionType]="vm.requestActionType"
  [breadcrumb]="true"
>
  <ng-template #contentTpl let-showOriginal>
    <app-procedure-form-summary
      *ngIf="vm.data.aircraftUsedDetails || vm.originalData?.aircraftUsedDetails"
      header="Aircraft in use"
      [procedureFormData]="showOriginal ? vm.originalData?.aircraftUsedDetails : vm.data.aircraftUsedDetails"
    ></app-procedure-form-summary>

    <app-procedure-form-summary
      *ngIf="vm.data.flightListCompletenessDetails || vm.originalData?.flightListCompletenessDetails"
      header="Completeness of the list of flights"
      [procedureFormData]="
        showOriginal ? vm.originalData?.flightListCompletenessDetails : vm.data.flightListCompletenessDetails
      "
    ></app-procedure-form-summary>

    <app-procedure-form-summary
      *ngIf="vm.data.ukEtsFlightsCoveredDetails || vm.originalData?.ukEtsFlightsCoveredDetails"
      header="Flights Covered by the UK ETS"
      [procedureFormData]="
        showOriginal ? vm.originalData?.ukEtsFlightsCoveredDetails : vm.data.ukEtsFlightsCoveredDetails
      "
    ></app-procedure-form-summary>

    <!-- State pairs that you operate -->
    <ng-container *ngIf="vm.data.operatingStatePairs">
      <h2 app-summary-header class="govuk-heading-m">State pairs that you operate</h2>

      <app-flight-procedures-data-table
        [operatingStatePairsCorsiaDetails]="
          showOriginal
            ? vm.originalData.operatingStatePairsCorsiaDetails
            : vm.data.operatingStatePairs.operatingStatePairsCorsiaDetails
        "
      ></app-flight-procedures-data-table>
    </ng-container>

    <!-- Determination of international flights -->
    <app-procedure-form-summary
      *ngIf="vm.data.internationalFlightsDetermination"
      header="Determination of international flights"
      [procedureFormData]="
        showOriginal ? vm.originalData.internationalFlightsDetermination : vm.data.internationalFlightsDetermination
      "
      formRouterLink="../determination-international-flights"
    ></app-procedure-form-summary>

    <!-- Determination of international flights with offsetting requirements -->
    <app-procedure-form-summary
      *ngIf="vm.data.internationalFlightsDeterminationOffset"
      header="Determination of international flights with offsetting requirements"
      [procedureFormData]="
        showOriginal
          ? vm.originalData.internationalFlightsDeterminationOffset
          : vm.data.internationalFlightsDeterminationOffset
      "
      formRouterLink="../determination-international-flights-offset"
    ></app-procedure-form-summary>

    <!-- Determination of flights with no monitoring requirements -->
    <app-procedure-form-summary
      *ngIf="vm.data.internationalFlightsDeterminationNoMonitoring"
      header="Determination of flights with no monitoring requirements"
      [procedureFormData]="
        showOriginal
          ? vm.originalData.internationalFlightsDeterminationNoMonitoring
          : vm.data.internationalFlightsDeterminationNoMonitoring
      "
      formRouterLink="../determination-international-flights-no-monitoring"
    ></app-procedure-form-summary>
  </ng-template>

  <app-highlight-diff *ngIf="vm.showDiff">
    <ng-container slot="previous" *ngTemplateOutlet="contentTpl; context: { $implicit: true }"></ng-container>
    <ng-container slot="current" *ngTemplateOutlet="contentTpl; context: { $implicit: false }"></ng-container>
  </app-highlight-diff>

  <ng-container
    *ngIf="vm.showDiff === false"
    [ngTemplateOutlet]="contentTpl"
    [ngTemplateOutletContext]="{ $implicit: false }"
  ></ng-container>

  <app-emp-review-decision-group-summary
    *ngIf="vm.showDecision"
    [data]="vm.reviewDecision"
    [attachments]="vm.reviewAttachments"
    [downloadBaseUrl]="vm.downloadBaseUrl"
  ></app-emp-review-decision-group-summary>

  <app-emp-variation-review-decision-group-summary
    *ngIf="vm.showVariationDecision"
    [data]="vm.variationDecision"
    [attachments]="vm.reviewAttachments"
    [downloadBaseUrl]="vm.downloadBaseUrl"
  ></app-emp-variation-review-decision-group-summary>

  <ng-container *ngIf="vm.showVariationRegLedDecision">
    <h2 class="govuk-heading-m">List changes to include in the variation schedule</h2>
    <app-emp-variation-regulator-led-decision-group-summary
      [data]="vm.variationRegLedDecision"
    ></app-emp-variation-regulator-led-decision-group-summary>
  </ng-container>
</app-request-action-task>
