<app-permit-task [breadcrumb]="breadcrumb$ | async">
  <app-wizard-step
    (formSubmit)="onSubmit()"
    [formGroup]="form"
    [heading]="'Fuel input and relevant emission factor'"
    [caption]="(productBenchmarkType$ | async | subInstallationType) + ': benchmark improvement rate'"
    submitText="Continue">
    <div class="govuk-!-width-two-thirds">
      <div class="govuk-body">
        For the specific purpose of the baseline data collection, this section should cover all data provided in section
        G.(d) in the "baseline data collection" template.
      </div>

      @if (isHeatProductBenchmarkType()) {
        <h2 class="govuk-heading-m">Is fuel input relevant for this sub-installation?</h2>
        <div formControlName="exists" govuk-radio>
          <govuk-radio-option [value]="true" label="Yes"></govuk-radio-option>
          <govuk-radio-option [value]="false" label="No"></govuk-radio-option>
        </div>
      }

      @if (form.get('exists')?.value === true || !isHeatProductBenchmarkType()) {
        <h2 class="govuk-heading-m">Is there any fuel input from waste gases?</h2>
        <div formControlName="wasteGasesInput" govuk-radio>
          <govuk-radio-option [value]="true" label="Yes"></govuk-radio-option>
          <govuk-radio-option [value]="false" label="No"></govuk-radio-option>
        </div>

        <div>
          <h2 class="govuk-heading-m">Data sources for fuel input</h2>

          <p class="govuk-caption-m">
            Add the data sources used for the quantification of fuel input in line with section 4.4 of Annex VII of the
            FAR and the method used to determine the net calorific values and emission factors in line with section 4.6
            of Annex VII of the FAR
          </p>
          <p class="govuk-caption-m">
            Fuel refers to any combustible source stream, defined by the Monitoring and Reporting Regulation (MRR) that
            has a measurable net calorific value
          </p>
          <p class="govuk-caption-m">
            The weighted emission factor is the total emissions from fuels, including those used for measurable heat,
            divided by the total energy content. This factor should also include emissions from flue gas cleaning, if
            applicable.
          </p>

          <div formArrayName="dataSources" *ngIf="dataSourcesFormArray">
            <fieldset
              *ngFor="let dataSource of dataSourcesFormArray?.controls; index as i"
              [formGroupName]="i"
              govukFieldset
              id="dataSource-def-{{ i }}">
              <legend govukLegend>Data source {{ i + 1 }}</legend>

              <button
                (click)="dataSourcesFormArray.removeAt(i)"
                *ngIf="dataSourcesFormArray.length > 1"
                appAddAnother
                govukSecondaryButton
                type="button"
                #removeButton>
                Remove
              </button>

              <div
                [ngClass]="{
                  'govuk-form-group--error':
                    dataSource?.errors?.atLeastOneRequired && this.wizardStepComponent.isSummaryDisplayedSubject
                    | async,
                }">
                <div
                  *ngIf="
                    dataSource?.errors?.atLeastOneRequired && this.wizardStepComponent.isSummaryDisplayedSubject | async
                  "
                  [ngClass]="{
                    'govuk-error-message':
                      dataSource?.errors?.atLeastOneRequired && this.wizardStepComponent.isSummaryDisplayedSubject
                      | async,
                  }">
                  {{ dataSource?.errors?.atLeastOneRequired }}
                </div>

                <div [id]="'l.dataSources.' + i">
                  <div class="govuk-body">Fuel input</div>
                  <div formControlName="fuelInput" govuk-select widthClass="govuk-!-width-full">
                    <option [value]="''">
                      @if (i === 0) {
                        Select an option
                      } @else {
                        Select an option if relevant
                      }
                    </option>
                    <option *ngFor="let fuelInputType of dataSource44Types" [value]="fuelInputType">
                      {{ fuelInputType | productBenchmark44DataSource }}
                    </option>
                  </div>

                  <div class="govuk-body">Net calorific value</div>
                  <div formControlName="netCalorificValue" govuk-select widthClass="govuk-!-width-full">
                    <option [value]="''">
                      @if (i === 0) {
                        Select an option
                      } @else {
                        Select an option if relevant
                      }
                    </option>
                    <option *ngFor="let netCalorificFactorType of dataSource46Types" [value]="netCalorificFactorType">
                      {{ netCalorificFactorType | productBenchmark46DataSource }}
                    </option>
                  </div>

                  <div class="govuk-body">Weighted emission factor</div>
                  <div formControlName="weightedEmissionFactor" govuk-select widthClass="govuk-!-width-full">
                    <option [value]="''">
                      @if (i === 0) {
                        Select an option
                      } @else {
                        Select an option if relevant
                      }
                    </option>
                    <option
                      *ngFor="let weightedEmissionFactorType of dataSource46Types"
                      [value]="weightedEmissionFactorType">
                      {{ weightedEmissionFactorType | productBenchmark46DataSource }}
                    </option>
                  </div>

                  @if (form.get('wasteGasesInput')?.value === true) {
                    <div class="govuk-body govuk-!-margin-top-8">Fuel input from waste gases</div>
                    <div formControlName="wasteGasFuelInput" govuk-select widthClass="govuk-!-width-full">
                      <option [value]="''">
                        @if (i === 0) {
                          Select an option
                        } @else {
                          Select an option if relevant
                        }
                      </option>
                      <option *ngFor="let wasteGasFuelInputType of dataSource44Types" [value]="wasteGasFuelInputType">
                        {{ wasteGasFuelInputType | productBenchmark44DataSource }}
                      </option>
                    </div>

                    <div class="govuk-body">Net calorific value for waste gas</div>
                    <div formControlName="wasteGasNetCalorificValue" govuk-select widthClass="govuk-!-width-full">
                      <option [value]="''">
                        @if (i === 0) {
                          Select an option
                        } @else {
                          Select an option if relevant
                        }
                      </option>
                      <option
                        *ngFor="let wasteGasNetCalorificValueType of dataSource46Types"
                        [value]="wasteGasNetCalorificValueType">
                        {{ wasteGasNetCalorificValueType | productBenchmark46DataSource }}
                      </option>
                    </div>

                    <div class="govuk-body">Emission factor</div>
                    <div formControlName="emissionFactor" govuk-select widthClass="govuk-!-width-full">
                      <option [value]="''">
                        @if (i === 0) {
                          Select an option
                        } @else {
                          Select an option if relevant
                        }
                      </option>
                      <option *ngFor="let emissionFactorType of dataSource46Types" [value]="emissionFactorType">
                        {{ emissionFactorType | productBenchmark46DataSource }}
                      </option>
                    </div>
                  }
                </div>
              </div>
            </fieldset>
          </div>

          <button
            (click)="addDataSource()"
            govukSecondaryButton
            type="button"
            *ngIf="dataSourcesFormArray?.controls?.length < 6">
            Add another data source
          </button>

          <h2 class="govuk-heading-m">Description of methodology applied for each data source</h2>
          <app-include-answer-details></app-include-answer-details>
          <div formControlName="methodologyAppliedDescription" govuk-textarea [maxLength]="10000" rows="10"></div>

          <div formGroupName="hierarchicalOrder">
            <div
              formControlName="followed"
              govuk-radio
              legend="Has the hierarchical order been followed?"
              hint="Select yes if the data source with the highest rank within the hierarchy has been used, as set out in section 4 of Annex VII of the FAR."
              [legendSize]="'medium'">
              <govuk-radio-option [value]="true" label="Yes"></govuk-radio-option>
              <govuk-radio-option [value]="false" label="No">
                <ng-container govukConditionalContent>
                  <div
                    formControlName="notFollowingHierarchicalOrderReason"
                    govuk-radio
                    legend="Reason for not following the hierarchy">
                    <govuk-radio-option
                      [value]="'OTHER_DATA_SOURCES_LEAD_TO_LOWER_UNCERTAINTY'"
                      label="Other data sources lead to lower uncertainty according to the simplified uncertainty assessment in line with Article 7(2) of the FAR"></govuk-radio-option>
                    <govuk-radio-option
                      [value]="'USE_OF_BETTER_DATA_SOURCES_TECHNICALLY_INFEASIBLE'"
                      label="Use of better data sources is technically infeasible"></govuk-radio-option>
                    <govuk-radio-option
                      [value]="'USE_OF_BETTER_DATA_SOURCES_UNREASONABLE_COSTS'"
                      label="Use of better data sources would incur unreasonable costs"></govuk-radio-option>
                  </div>
                  <div
                    formControlName="notFollowingHierarchicalOrderDescription"
                    label="Provide more details on any deviation from the hierarchy"
                    govuk-textarea
                    [maxLength]="10000"
                    rows="10"></div>
                </ng-container>
              </govuk-radio-option>
            </div>
          </div>

          <app-multiple-file-input
            [baseDownloadUrl]="getDownloadUrl()"
            label="Upload supporting files (optional)"
            formControlName="supportingFiles"
            listTitle="Uploaded files"></app-multiple-file-input>
        </div>
      }
    </div>
  </app-wizard-step>

  <a govukLink [routerLink]="'../../../'">Return to: Sub-installations</a>
</app-permit-task>
