<app-base-action-container-component
  header="Activity level determination sent to UK Authority"
  [customContentTemplate]="customContentTemplate"
  [expectedActionType]="['DOAL_APPLICATION_PROCEEDED_TO_AUTHORITY']"
>
</app-base-action-container-component>
<ng-template #customContentTemplate>
  <h2 app-summary-header class="govuk-heading-m">Details</h2>
  <dl govuk-summary-list appGroupedSummaryList class="govuk-!-margin-bottom-6">
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Web view</dt>
      <dd govukSummaryListRowValue>
        <a govukLink routerLink="submitted">View details</a>
      </dd>
    </div>
  </dl>

  <ng-container *ngIf="decisionNotification$ | async">
    <h2 app-summary-header class="govuk-heading-m">Official notice recipients</h2>
    <dl govuk-summary-list appGroupedSummaryList class="govuk-!-margin-bottom-6">
      <div govukSummaryListRow *ngIf="notificationUsers$ | async as notificationUsers">
        <dt govukSummaryListRowKey>Users</dt>
        <dd govukSummaryListRowValue>
          <div *ngFor="let user of notificationUsers">
            {{ user }}
          </div>
        </dd>
      </div>
      <div govukSummaryListRow *ngIf="signatoryName$ | async as signatoryName">
        <dt govukSummaryListRowKey>Name and signature on the official notice</dt>
        <dd govukSummaryListRowValue>
          {{ signatoryName }}
        </dd>
      </div>
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>Official notice</dt>
        <dd govukSummaryListRowValue>
          <app-summary-download-files [files]="officialNoticeFiles$ | async"></app-summary-download-files>
        </dd>
      </div>
    </dl>
  </ng-container>
</ng-template>
