<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <app-wizard-step
      (formSubmit)="onSubmit()"
      [formGroup]="form"
      heading="Choose an emitter group"
      caption="Start a batch variation"
      submitText="Continue"
      [showBackLink]="true">
      <div class="govuk-hint">
        Select at least one from each section. Emitters that meet the selected criteria will be included in the batch
        variation.
      </div>

      <div class="govuk-checkboxes">
        <div class="govuk-grid-column-full">
          <div class="govuk-heading-m">Status</div>
          <div formControlName="accountStatuses" govuk-checkboxes>
            <govuk-checkbox
              *ngFor="let option of accountStatusLabelMap | keyvalue: originalOrder"
              [value]="option.key"
              [label]="option.value"></govuk-checkbox>
          </div>
        </div>
        <div class="govuk-grid-column-full">
          <div class="govuk-heading-m">Permit type</div>
          <div formControlName="emitterTypes" govuk-checkboxes>
            <govuk-checkbox
              *ngFor="let option of accountTypeLabelMap | keyvalue: originalOrder"
              [value]="option.key"
              [label]="option.value"></govuk-checkbox>
          </div>
        </div>
        <div class="govuk-grid-column-full" *ngIf="displayInstallationCategories">
          <div class="govuk-heading-m">Category</div>
          <div formControlName="installationCategories" govuk-checkboxes>
            <govuk-checkbox
              *ngFor="let option of accountCategoryLabelMap | keyvalue: originalOrder"
              [value]="option.key"
              [label]="option.value"></govuk-checkbox>
          </div>
        </div>

        <div class="govuk-grid-column-full" *ngIf="displayAllocationStatuses">
          <div class="govuk-heading-m">Allocation status (optional)</div>
          <div formControlName="allocationStatuses" govuk-checkboxes>
            <govuk-checkbox [value]="'FREE_ALLOCATION'" [label]="'Free allocation'"></govuk-checkbox>
            <govuk-checkbox [value]="'NONFREE_ALLOCATION'" [label]="'Non-free allocation'"></govuk-checkbox>
          </div>
        </div>
      </div>
    </app-wizard-step>
  </div>
</div>
