<app-aer-task>
  <app-wizard-step
    (formSubmit)="onSubmit()"
    [formGroup]="form"
    caption="Add an EPRTR activity"
    [heading]="'Select the relevant sector for the main activity at the installation'"
    [hideSubmit]="(isEditable$ | async) === false"
    submitText="Continue">
    <div formControlName="activity" govuk-radio>
      <govuk-radio-option
        *ngFor="let option of activityItems$ | async"
        [label]="option | i18nSelect: activityItemNameMap"
        [value]="option"></govuk-radio-option>
    </div>
  </app-wizard-step>
  <a govukLink routerLink="../../summary">Return to: European Pollutant Release and Transfer Register codes (PRTR)</a>
</app-aer-task>
