<app-procedure-form-step [form]="form" (submitForm)="onSubmit()">
  <div procedureFormPageHeader>
    <app-page-heading>Monitoring plan appropriateness</app-page-heading>
    <p class="govuk-body">
      Describe how you evaluate the appropriateness of the monitoring plan. Include any potential measures to improve
      it.
    </p>
    <p class="govuk-body">Explain how you check:</p>
    <ul class="govuk-body">
      <li>that the plan is up to date</li>
      <li>how often the plan is evaluated</li>
      <li>that any changes identified from reviews and visits are communicated to the regulator</li>
    </ul>
  </div>
</app-procedure-form-step>
