<app-permit-task [breadcrumb]="breadcrumb$ | async">
  <app-wizard-step
    (formSubmit)="onSubmit()"
    [formGroup]="form"
    [heading]="'Annual production levels (activity)'"
    [caption]="productBenchmarkType$ | async | subInstallationType"
    submitText="Continue">
    <div class="govuk-!-width-two-thirds">
      <div class="govuk-body">
        For the specific purpose of the baseline data collection, this section should cover all data provided in section
        F.(a) in the "baseline data collection" template.

        @if (
          (productBenchmarkType$ | async) === 'SHORT_FIBRE_KRAFT_PULP' ||
          (productBenchmarkType$ | async) === 'LONG_FIBRE_KRAFT_PULP' ||
          (productBenchmarkType$ | async) === 'SULPHITE_PULP_THERMO_MECHANICAL_AND_MECHANICAL_PULP'
        ) {
          {{
            ' Note that for integrated pulp & paper production special allocation rules apply (Article 10(7) of the CIMs).'
          }}
        }

        @if ((productBenchmarkType$ | async) === 'NITRIC_ACID') {
          {{ ' Measurable heat delivered to other sub-installations is to be treated like heat from non-ETS sources.' }}
        }
      </div>

      <h2 class="govuk-heading-m">Data sources for quantities of products</h2>

      <p class="govuk-caption-m">
        Add the data sources used for the quantities of products in line with section 4.4 of Annex VII of the FAR.
      </p>

      <div formArrayName="quantityProductDataSources">
        <fieldset
          *ngFor="let quantityProductDataSource of quantityProductDataSourcesFormArray.controls; index as i"
          [formGroupName]="i"
          govukFieldset
          id="dataSource-def-{{ i }}">
          <legend govukLegend>Data source {{ i + 1 }}</legend>

          <button
            (click)="quantityProductDataSourcesFormArray.removeAt(i)"
            *ngIf="quantityProductDataSourcesFormArray.length > 1"
            appAddAnother
            govukSecondaryButton
            type="button"
            #removeButton>
            Remove
          </button>

          <div>
            <div
              formControlName="quantityProduct"
              govuk-select
              label="Quantities of products"
              widthClass="govuk-!-width-full">
              <option [value]="''">Select an option</option>
              <option *ngFor="let quantityProductType of quantityProductTypes" [value]="quantityProductType">
                {{ quantityProductType | productBenchmark44DataSource }}
              </option>
            </div>
          </div>
        </fieldset>
      </div>

      <button
        (click)="addQuantityProductDataSource()"
        govukSecondaryButton
        type="button"
        *ngIf="quantityProductDataSourcesFormArray.controls.length < 6">
        Add another data source
      </button>

      <div
        formControlName="annualQuantityDeterminationMethod"
        govuk-radio
        legend="Method used to determine the annual quantity of products"
        hint="Select the method used, in line with section 5 of Annex VII of the FAR."
        [legendSize]="'medium'">
        <govuk-radio-option
          [value]="'CONTINUAL_METERING_PROCESS'"
          label="5. (a) based on continual metering at the process where the material is consumed or produced"></govuk-radio-option>
        <govuk-radio-option
          [value]="'AGGREGATION_METERING_QUANTITIES'"
          label="5. (b) based on aggregation of metering of quantities separately delivered or produced taking into account relevant stock changes"></govuk-radio-option>
      </div>

      <h2 class="govuk-heading-m">Description of methodology applied for each data source</h2>

      <p class="govuk-caption-m">
        Consider the definition and system boundaries as set out in Annex I of the FAR and the relevant section in
        Guidance Document 9.
      </p>

      <p class="govuk-caption-m">
        If the installation did not operate in all years, provide evidence as appropriate, and describe how the start of
        normal operation was determined, if relevant.
      </p>
      <app-include-answer-details></app-include-answer-details>

      <div formControlName="methodologyAppliedDescription" govuk-textarea [maxLength]="10000" rows="10"></div>

      <div formGroupName="hierarchicalOrder">
        <div
          formControlName="followed"
          govuk-radio
          legend="Has the hierarchical order been followed?"
          hint="Select yes if the data source with the highest rank within the hierarchy has been used, as set out in section 4 of Annex VII of the FAR."
          [legendSize]="'medium'">
          <govuk-radio-option [value]="true" label="Yes"></govuk-radio-option>
          <govuk-radio-option [value]="false" label="No">
            <ng-container govukConditionalContent>
              <div
                formControlName="notFollowingHierarchicalOrderReason"
                govuk-radio
                legend="Reason for not following the hierarchy">
                <govuk-radio-option
                  [value]="'OTHER_DATA_SOURCES_LEAD_TO_LOWER_UNCERTAINTY'"
                  label="Other data sources lead to lower uncertainty according to the simplified uncertainty assessment in line with Article 7(2) of the FAR"></govuk-radio-option>
                <govuk-radio-option
                  [value]="'USE_OF_BETTER_DATA_SOURCES_TECHNICALLY_INFEASIBLE'"
                  label="Use of better data sources is technically infeasible"></govuk-radio-option>
                <govuk-radio-option
                  [value]="'USE_OF_BETTER_DATA_SOURCES_UNREASONABLE_COSTS'"
                  label="Use of better data sources would incur unreasonable costs"></govuk-radio-option>
              </div>
              <div
                formControlName="notFollowingHierarchicalOrderDescription"
                label="Provide more details on any deviation from the hierarchy"
                govuk-textarea
                [maxLength]="10000"
                rows="10"></div>
            </ng-container>
          </govuk-radio-option>
        </div>
      </div>

      <h2 class="govuk-heading-m">Description of the methodology used for keeping track of the products produced</h2>

      <p class="govuk-caption-m">
        Include the methodology on how relevant PRODCOM codes are tracked, in line with section 9 of Annex VII of the
        FAR.
      </p>
      <div formControlName="trackingMethodologyDescription" govuk-textarea [maxLength]="10000" rows="10"></div>

      <app-multiple-file-input
        [baseDownloadUrl]="getDownloadUrl()"
        label="Upload supporting files (optional)"
        formControlName="supportingFiles"
        listTitle="Uploaded files"></app-multiple-file-input>
    </div>
  </app-wizard-step>

  <a govukLink [routerLink]="'../../'">Return to: Sub-installations</a>
</app-permit-task>
