<div
  *ngIf="errorList?.length > 0"
  aria-labelledby="error-summary-title"
  class="govuk-error-summary"
  role="alert"
  tabindex="-1"
>
  <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>

  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <ng-container *ngFor="let errorItem of errorList">
        <ng-container *ngIf="errorItem">
          <li>
            <p style="color: #d4351c; font-weight: bold">{{ errorItem?.message }}</p>
          </li>
        </ng-container>
      </ng-container>
    </ul>
  </div>
</div>

<app-csv-data-wizard-step
  (formSubmit)="onSubmit()"
  [formGroup]="form"
  heading="List the state pairs that you operate"
  submitText="Continue"
  [hideSubmit]="!fileLoaded || !parsedData"
>
  <p class="govuk-body govuk-!-width-three-quarters">
    Upload a comma-separated values (.csv) file containing a list of the state pairs for international flights that you
    operate.
  </p>

  <p class="govuk-body govuk-!-width-three-quarters">
    The list should include routes operated in the previous year and also routes you are scheduled to operate.
  </p>

  <p class="govuk-body govuk-!-width-three-quarters">
    When you create the file, use the list of short names of the
    <a class="govuk-link" href="https://www.icao.int/about-icao/pages/member-states.aspx/" rel="noreferrer noopener">
      ICAO contracting states</a
    >.
  </p>

  <input type="file" (change)="onFileSelect($event)" style="display: none" #fileInput />

  <button type="button" govukButton *ngIf="!parsedData" (click)="fileInput.click()">Choose a CSV file</button>

  <button type="button" govukButton govukSecondaryButton *ngIf="fileLoaded && parsedData" (click)="fileInput.click()">
    Upload your CSV file again
  </button>

  <div *ngIf="!fileLoaded || !parsedData" class="govuk-!-width-three-quarters">
    <app-flight-procedures-data-table
      [headingText]="'Your CSV file needs to look like this example'"
      [customColumns]="exampleTableColumns"
      [operatingStatePairsCorsiaDetails]="exampleTableData"
    ></app-flight-procedures-data-table>
  </div>

  <input type="text" [hidden]="true" formControlName="operatingStatePairsCorsiaDetails" />

  <div *ngIf="fileLoaded && parsedData" class="govuk-!-width-three-quarters">
    <app-flight-procedures-data-table
      [headingText]="fileName"
      [operatingStatePairsCorsiaDetails]="parsedData"
    ></app-flight-procedures-data-table>
  </div>
</app-csv-data-wizard-step>

<app-return-to-link></app-return-to-link>
