<app-base-action-container-component
  [header]="aerTitle$ | async"
  [customContentTemplate]="customContentTemplate"
  [expectedActionType]="['AER_APPLICATION_COMPLETED']"
>
</app-base-action-container-component>
<ng-template #customContentTemplate>
  <h2 app-summary-header class="govuk-heading-m">Details</h2>
  <dl govuk-summary-list appGroupedSummaryList class="govuk-!-margin-bottom-6">
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Emissions report</dt>
      <dd govukSummaryListRowValue>
        <a govukLink [routerLink]="aerLink$ | async">{{ (payload$ | async).reportingYear }} emissions report</a>
      </dd>
    </div>
  </dl>
</ng-template>
