<app-bdr-task-review returnToLink="../" [breadcrumb]="true">
  <app-page-heading caption="BDR verification opinion statement">
    Review the BDR verification opinion statement
  </app-page-heading>

  <app-opinion-statement-summary-template
    [notes]="bdrPayload()?.verificationReport?.opinionStatement?.notes"
    [opinionStatementFiles]="opinionStatementFiles()"></app-opinion-statement-summary-template>

  <app-shared-review-group-decision
    [isEditable]="isEditable()"
    [payload]="$any(bdrPayload())"
    [requestTaskId]="requestTaskId"
    [hideAmendsOption]="true"
    (formSubmit)="onSubmit($event)"></app-shared-review-group-decision>
</app-bdr-task-review>
