<h2 class="govuk-heading-m">What is your decision on the information submitted?</h2>
<div formControlName="type" govuk-radio>
  <govuk-radio-option value="ACCEPTED" label="Accepted">
    <div govukConditionalContent>
      <div>
        <h3 #conditionalHeaderAccepted class="govuk-heading-s">List changes to include in the variation schedule</h3>
        <p class="govuk-body">The operator will see these in the official notice.</p>

        <div *ngIf="variationScheduleItemsCtrl; else addNew" formArrayName="variationScheduleItems">
          <fieldset
            *ngFor="let variationScheduleItem of variationScheduleItemsCtrl.controls; index as i"
            [formGroupName]="i"
            [disabled]="(isEditable$ | async) === false"
            govukFieldset
            id="variation-schedule-items-{{ i }}"
          >
            <legend class="govuk-heading-s">Item {{ i + 1 }}</legend>
            <button
              (click)="removeVariationScheduleItems(i)"
              *ngIf="variationScheduleItemsCtrl.length > 0"
              [disabled]="(isEditable$ | async) === false"
              [heading]="conditionalHeaderAccepted"
              appAddAnother
              govukSecondaryButton
              type="button"
              #removeButton
            >
              Remove
            </button>
            <div govuk-textarea [maxLength]="10000" formControlName="item"></div>
          </fieldset>

          <button
            (click)="addOtherVariationScheduleItem()"
            [disabled]="(isEditable$ | async) === false"
            govukSecondaryButton
            type="button"
          >
            Add another item
          </button>
        </div>

        <ng-template #addNew>
          <button
            (click)="addVariationScheduleItem()"
            [disabled]="(isEditable$ | async) === false"
            govukSecondaryButton
            type="button"
          >
            Add item
          </button>
        </ng-template>
      </div>
    </div>
  </govuk-radio-option>
  <govuk-radio-option value="REJECTED" label="Rejected"> </govuk-radio-option>
  <govuk-radio-option value="OPERATOR_AMENDS_NEEDED" label="Operator changes required">
    <div govukConditionalContent>
      <div>
        <h3 #conditionalHeader class="govuk-heading-s">Changes required by the operator</h3>
        <p class="govuk-body">This will be sent to the operator when you return the application</p>

        <div *ngIf="requiredChangeCtrl" formArrayName="requiredChanges">
          <fieldset
            *ngFor="let requiredChange of requiredChangeCtrl.controls; index as i"
            [formGroupName]="i"
            govukFieldset
            id="required=changes-{{ i }}"
          >
            <legend class="govuk-heading-s">Required change {{ i + 1 }}</legend>
            <button
              (click)="removeRequiredChangeCtrl(i)"
              *ngIf="requiredChangeCtrl.length > 1"
              [heading]="conditionalHeader"
              appAddAnother
              govukSecondaryButton
              type="button"
              #removeButton
            >
              Remove
            </button>
            <div govuk-textarea [maxLength]="10000" formControlName="reason"></div>

            <app-multiple-file-input
              [baseDownloadUrl]="getDownloadUrl()"
              [label]="(uploadedFiles[i] | async) === true ? 'Upload a different file' : 'Upload a file (optional)'"
              headerSize="s"
              [listTitle]="'Uploaded attachments for the operator'"
              formControlName="files"
            ></app-multiple-file-input>
          </fieldset>

          <button (click)="addRequiredChangeCtrl()" govukSecondaryButton type="button">
            Add another required change
          </button>
        </div>
      </div>
    </div>
  </govuk-radio-option>
</div>

<div
  govuk-textarea
  [maxLength]="10000"
  formControlName="notes"
  label="Notes"
  hint="The operator cannot view this"
></div>
