<ng-container *ngIf="vm$ | async as vm">
  <app-page-heading>{{ vm.pageHeader }}</app-page-heading>

  <ng-container *ngIf="vm.data">
    <h2 app-summary-header class="govuk-heading-m" [changeRoute]="vm.isEditable ? '../' : null"
        [queryParams]="{ change: true }">Aircraft Data uploaded data</h2>
    <app-aircraft-types-data-table
      [headingText]="'File uploaded'"
      [aviationAerAircraftDataDetails]="vm.data.aviationAerAircraftDataDetails"
    ></app-aircraft-types-data-table>
    <div class="govuk-button-group">
      <button (click)="onSubmit()" appPendingButton govukButton type="button" *ngIf="!vm.hideSubmit">
        Confirm and complete
      </button>
    </div>

    <app-aviation-aer-review-decision-group
      *ngIf="vm.showDecision"
      taskKey="aviationAerAircraftData"
    ></app-aviation-aer-review-decision-group>
  </ng-container>
</ng-container>
<app-return-to-link></app-return-to-link>
