<dl govuk-summary-list>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Reason for determination</dt>
    <dd govukSummaryListRowValue>
      {{
        determination.articleReasonGroupType === 'ARTICLE_34H_REASONS' ? 'Article 34H reasons' : 'Article 6a reasons'
      }}
      <p *ngFor="let reasonItem of determination.articleReasonItems; let i = index">
        {{ i + 1 + '. ' }} {{ reasonItem | i18nSelect: alrArticleReasonItemsLabelsMap }}
      </p>
    </dd>
    <dd govukSummaryListRowActions *ngIf="editable">
      <a govukLink [routerLink]="['..', 'reason']" [state]="{ changing: true }">Change</a>
    </dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Information about the selected reasons</dt>
    <dd govukSummaryListRowValue class="pre-wrap">{{ determination.reason }}</dd>
    <dd govukSummaryListRowActions *ngIf="editable">
      <a govukLink [routerLink]="['..', 'reason']" [state]="{ changing: true }">Change</a>
    </dd>
  </div>
</dl>

<dl govuk-summary-list>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Has a withholding of allowances notice been issued?</dt>
    <dd govukSummaryListRowValue>{{ determination.hasWithholdingOfAllowances ? 'Yes' : 'No' }}</dd>
    <dd govukSummaryListRowActions *ngIf="editable">
      <a govukLink [routerLink]="['..', 'withholding-of-allowances']" [state]="{ changing: true }">Change</a>
    </dd>
  </div>
  <ng-container *ngIf="determination.hasWithholdingOfAllowances === true">
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>When was the notice issued?</dt>
      <dd govukSummaryListRowValue class="pre-wrap">
        {{ determination.withholdingAllowancesNotice.noticeIssuedDate | govukDate }}
      </dd>
      <dd govukSummaryListRowActions *ngIf="editable">
        <a govukLink [routerLink]="['..', 'withholding-of-allowances']" [state]="{ changing: true }">Change</a>
      </dd>
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Comments on the withholding of allowances notice</dt>
      <dd govukSummaryListRowValue class="pre-wrap">
        {{ determination.withholdingAllowancesNotice.withholdingOfAllowancesComment }}
      </dd>
      <dd govukSummaryListRowActions *ngIf="editable">
        <a govukLink [routerLink]="['..', 'withholding-of-allowances']" [state]="{ changing: true }">Change</a>
      </dd>
    </div>
  </ng-container>
</dl>

<dl govuk-summary-list>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Send official notice?</dt>
    <dd govukSummaryListRowValue>{{ determination.needsOfficialNotice ? 'Yes' : 'No' }}</dd>
    <dd govukSummaryListRowActions *ngIf="editable">
      <a govukLink [routerLink]="['..', 'preliminary-allocation']" [state]="{ changing: true }">Change</a>
    </dd>
  </div>
</dl>
