@media print {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    height: auto !important;
    min-height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: visible !important;
  }

  a[href]:after {
    content: none !important;
  }
}
