<app-wizard-step (formSubmit)="onSubmit()" [formGroup]="form" heading="Upload notice of intent">
  <p class="govuk-body">Attach the notice of intent that needs to be sent to the operator.</p>
  <p class="govuk-body">If you need to add extra documents you can use the notes feature on the task list.</p>
  <p class="govuk-body">The maximum file size we can accept is 20 megabytes (MB).</p>

  <app-file-input
    [downloadUrl]="getDownloadUrl"
    formControlName="noticeOfIntent"
    label="Upload file"
    listTitle="File added"
  ></app-file-input>

  <label for="comments" class="govuk-label govuk-label--m">Your comments (optional)</label>
  <div govuk-textarea formControlName="comments" hint="The operator cannot see this" [maxLength]="10000"></div>
</app-wizard-step>
<div *ngIf="(currentDomain$ | async) === 'INSTALLATION'; else aviation">
  <a govukLink routerLink="/dashboard"> Return to your tasks </a>
</div>
<ng-template #aviation>
  <app-return-to-link></app-return-to-link>
</ng-template>
