@if (compliance) {
  <dl govuk-summary-list [hasBorders]="true">
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Accuracy</dt>
      <dd govukSummaryListRowValue class="pre-wrap">
        @if (compliance.accuracy) {
          <span>Compliant</span>
        } @else {
          Not compliant
          <br />
          {{ compliance.accuracyReason }}
        }
      </dd>
      @if (isEditable) {
        <dd govukSummaryListRowActions>
          <a govukLink routerLink="..">Change</a>
        </dd>
      }
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Completeness</dt>
      <dd govukSummaryListRowValue class="pre-wrap">
        @if (compliance.completeness) {
          <span>Compliant</span>
        } @else {
          Not compliant
          <br />
          {{ compliance.completenessReason }}
        }
      </dd>
      @if (isEditable) {
        <dd govukSummaryListRowActions>
          <a govukLink routerLink="..">Change</a>
        </dd>
      }
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Consistency</dt>
      <dd govukSummaryListRowValue class="pre-wrap">
        @if (compliance.consistency) {
          <span>Compliant</span>
        } @else {
          Not compliant
          <br />
          {{ compliance.consistencyReason }}
        }
      </dd>
      @if (isEditable) {
        <dd govukSummaryListRowActions>
          <a govukLink routerLink="..">Change</a>
        </dd>
      }
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Comparability over time</dt>
      <dd govukSummaryListRowValue class="pre-wrap">
        @if (compliance.comparability) {
          <span>Compliant</span>
        } @else {
          Not compliant
          <br />
          {{ compliance.comparabilityReason }}
        }
      </dd>
      @if (isEditable) {
        <dd govukSummaryListRowActions>
          <a govukLink routerLink="..">Change</a>
        </dd>
      }
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Transparency</dt>
      <dd govukSummaryListRowValue class="pre-wrap">
        @if (compliance.transparency) {
          <span>Compliant</span>
        } @else {
          Not compliant
          <br />
          {{ compliance.transparencyReason }}
        }
      </dd>
      @if (isEditable) {
        <dd govukSummaryListRowActions>
          <a govukLink routerLink="..">Change</a>
        </dd>
      }
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Integrity of methodology</dt>
      <dd govukSummaryListRowValue class="pre-wrap">
        @if (compliance.integrity) {
          <span>Compliant</span>
        } @else {
          Not compliant
          <br />
          {{ compliance.integrityReason }}
        }
      </dd>
      @if (isEditable) {
        <dd govukSummaryListRowActions>
          <a govukLink routerLink="..">Change</a>
        </dd>
      }
    </div>
  </dl>
}
