<app-page-heading size="l">Edit date of regulated activities</app-page-heading>

<form (ngSubmit)="onSubmit()" *ngIf="form$ | async as form" [formGroup]="form">
  <govuk-error-summary *ngIf="isSummaryDisplayed | async" [form]="form"></govuk-error-summary>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <p class="govuk-body">Date of first known regulated activities</p>
      <div formControlName="commencementDate" govuk-date-input></div>
    </div>
  </div>
  <button appPendingButton govukButton type="submit">Confirm and complete</button>
</form>

<a govukLink routerLink="../..">Return to: Installation details</a>
