<ng-container *ngIf="vm() as vm">
  <app-base-task-container-component
    [header]="vm.pageTitle"
    [customContentTemplate]="vm.isWaitTask ? waitContentTemplate : taskContentTemplate"
    [expectedTaskType]="vm.requestTaskType"
    [notification]="vm.notification"
    [daysRemaining]="vm.daysRemaining"></app-base-task-container-component>

  <ng-template #waitContentTemplate>
    <govuk-warning-text>{{ vm.warningText }}</govuk-warning-text>
  </ng-template>

  <ng-template #taskContentTemplate>
    <ng-container *ngIf="vm.requestTaskType === 'ALR_APPLICATION_AMENDS_SUBMIT'">
      <h2 class="govuk-heading-m govuk-!-margin-0">Regulator comments</h2>
      <ul app-task-item-list>
        <li
          app-task-item
          link="changes-requested"
          linkText="Changes requested by the regulator"
          [status]="vm.changesRequestedSectionStatus"></li>
      </ul>
    </ng-container>

    <h2 class="govuk-heading-m">Activity level report details</h2>

    <ul app-task-item-list>
      <li
        app-task-item
        [link]="vm.redirectDetailsLink"
        linkText="Provide the activity level report"
        [status]="vm.detailsSectionStatus"></li>
    </ul>

    <h2 class="govuk-heading-m">Send report</h2>

    <ul app-task-item-list>
      <li
        app-task-item
        [link]="vm.sectionsCompleted ? vm.redirectSendReportLink : null"
        linkText="Send report"
        [status]="vm.sendReportSectionStatus"></li>
    </ul>
  </ng-template>
</ng-container>
