<dl govuk-summary-list *ngIf="data.dateOfStart">
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>When did you become a UK ETS aircraft operator?</dt>
    <dd govukSummaryListRowValue>
      {{ data.dateOfStart | date: 'd MMMM yyyy' }}
    </dd>
    <dd></dd>
    <dd govukSummaryListRowActions *ngIf="isEditable">
      <a govukLink [routerLink]="'../'" [queryParams]="changeUrlQueryParams">Change</a>
    </dd>
  </div>
</dl>

<!-- eslint-disable-next-line @angular-eslint/template/eqeqeq -->
<ng-container *ngIf="data.submittedOnTime != null">
  <dl govuk-summary-list>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Are you submitting your application within 42 days of this date?</dt>
      <dd govukSummaryListRowValue>
        {{ data.submittedOnTime ? 'Yes' : 'No' }}
      </dd>
      <dd></dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="'../'" [queryParams]="changeUrlQueryParams">Change</a>
      </dd>
    </div>
  </dl>
  <dl govuk-summary-list *ngIf="!data.submittedOnTime">
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Reason for late submission</dt>
      <dd class="pre-wrap" govukSummaryListRowValue>
        {{ data?.reasonForLateSubmission }}
      </dd>
      <dd></dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="'../'" [queryParams]="changeUrlQueryParams">Change</a>
      </dd>
    </div>
  </dl>
</ng-container>
