<app-procedure-form-step [form]="form" (submitForm)="onSubmit()">
  <div procedureFormPageHeader>
    <app-page-heading>Corrections and corrective actions</app-page-heading>
    <p class="govuk-body">
      Describe what actions are taken if data flow activities and control activities are found to not function
      effectively.
    </p>
    <p class="govuk-body">
      Include how the validity of outputs are assessed, and the process for addressing the cause of the error.
    </p>
  </div>
</app-procedure-form-step>
