<app-procedure-form-step [form]="form" (submitForm)="onSubmit()">
  <div procedureFormPageHeader>
    <app-page-heading>
      Proof the SAF meets the Renewable Transport Fuel Obligation (RTFO) sustainability criteria
    </app-page-heading>
    <p class="govuk-body">
      Describe the procedures you use, including all systems and processes, to obtain and record the evidence that the
      SAF in your ERC meets the RTFO sustainability criteria.
    </p>
    <p class="govuk-body">This evidence may include:</p>
    <ul class="govuk-body">
      <li>information from your fuel supplier</li>
      <li>information on documents related to purchase or delivery</li>
      <li>screen shots from the RTFO operating system</li>
      <li>Proof of Sustainability certificates or Proof of Compliance documents</li>
    </ul>
  </div>
</app-procedure-form-step>
