<ng-container *ngIf="vm$ | async as vm">
  <app-page-heading>{{ vm.heading }}</app-page-heading>

  <app-independent-review-corsia-template
    *ngIf="vm.independentReview"
    [data]="vm.independentReview"
    [isEditable]="vm.isEditable"
    [queryParams]="{ change: true }"
  ></app-independent-review-corsia-template>

  <div class="govuk-button-group">
    <button (click)="onSubmit()" appPendingButton govukButton type="button" *ngIf="!vm.hideSubmit">
      Confirm and complete
    </button>
  </div>
</ng-container>
<app-return-to-link></app-return-to-link>
