<div class="govuk-body">
  <p>
    Your calculation of CO2e should be based on the average verified annual emissions of the previous trading period
    data to enable categorisation of the installation in accordance with Article 19 of the Monitoring and Reporting
    Regulation (MRR).
  </p>
  <p>
    If this data is not available, or is inappropriate, the calculation should be based on a conservative estimate of
    annual average emissions, including transferred CO2, but excluding CO2 from biomass.
  </p>
</div>
