<app-aer-task>
  @if (form$ | async; as form) {
    <app-wizard-step
      (formSubmit)="onContinue()"
      [formGroup]="form"
      heading="Calculate the activity data for this source stream"
      [hideSubmit]="(isEditable$ | async) === false">
      @if (isSm3()) {
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Measurement units applied</h2>
        <div class="govuk-body">Standard cubic metres (Sm3) at 15°C (metering conditions)</div>
      } @else {
        <div
          [options]="measurementUnits"
          formControlName="measurementUnit"
          govuk-select
          label="Measurement units applied"></div>
      }
      <div
        formControlName="materialOpeningQuantity"
        govuk-text-input
        label="Opening quantity of fuel or material"
        widthClass="govuk-!-width-two-thirds"></div>
      <div
        formControlName="materialClosingQuantity"
        govuk-text-input
        label="Closing quantity of fuel or material"
        widthClass="govuk-!-width-two-thirds"></div>
      <div
        formControlName="materialImportedOrExported"
        govuk-radio
        legend="Were there any imports or exports of fuel or material?">
        <govuk-radio-option [value]="true" label="Yes">
          <ng-container govukConditionalContent>
            <div
              formControlName="materialImportedQuantity"
              govuk-text-input
              hint="For example, deliveries into a tank or kiln"
              label="Total imported fuel or material"
              widthClass="govuk-!-width-two-thirds"></div>
            <div
              formControlName="materialExportedQuantity"
              govuk-text-input
              hint="For example, exports from a tank or kiln"
              label="Total exported fuel or material"
              widthClass="govuk-!-width-two-thirds"></div>
          </ng-container>
        </govuk-radio-option>
        <govuk-radio-option [value]="false" label="No"></govuk-radio-option>
      </div>
      <p class="govuk-body">
        Calculated activity data
        <br />
        Total: {{ (totalMaterial$ | async) ?? 0 }}
        {{ isSm3() ? 'standard cubic metres (Sm3) at 15°C (metering conditions)' : (measurementUnit$ | async) }}
      </p>
    </app-wizard-step>
    <a govukLink routerLink="../..">Return to: {{ 'CALCULATION_CO2' | monitoringApproachEmissionDescription }}</a>
  }
</app-aer-task>
