<app-aer-task-review heading="Are there any recommended improvements?">
  <app-wizard-step
    (formSubmit)="onSubmit()"
    [formGroup]="form"
    submitText="Continue"
    [hideSubmit]="(isEditable$ | async) === false">
    <p class="govuk-body">Suggest how the operator could improve their performance in monitoring and reporting
      emissions, and why you think an improvement is relevant.</p>
    <p class="govuk-body">Improvements can cover a wide range of issues including:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>risk assessment</li>
      <li>data flow and control activities and procedures</li>
      <li>accuracy of monitoring and reporting</li>
    </ul>

    <govuk-warning-text assistiveText="Warning">You should not tell the operator how to resolve the issues as this may
      compromise your independence as a verifier.
    </govuk-warning-text>

    <p class="govuk-body"><strong>You also need to complete this section for verifying tonne-kilometre
      data.</strong><br>Recommendations could still be useful for the regulator as they could give information on
      quality of verified data.</p>

    <div formControlName="areThereRecommendedImprovements" govuk-radio>
      <govuk-radio-option [value]="true" label="Yes"></govuk-radio-option>
      <govuk-radio-option [value]="false" label="No"></govuk-radio-option>
    </div>
  </app-wizard-step>
</app-aer-task-review>
