<app-permit-task
  [notification]="notification"
  [breadcrumb]="true"
  reviewGroupTitle="Fuels and equipment inventory"
  reviewGroupUrl="fuels"
>
  <app-page-heading caption="Fuels and equipment inventory">Emission points</app-page-heading>

  <h2
    [changeRoute]="(store.isEditable$ | async) === true ? '..' : undefined"
    app-summary-header
    class="govuk-heading-m"
  >
    <span class="govuk-visually-hidden">List of emission points</span>
  </h2>

  <app-emission-points-table [data]="'emissionPoints' | task | async" [isEditable]="false"></app-emission-points-table>

  <app-list-return-link reviewGroupTitle="Fuels and equipment inventory" reviewGroupUrl="fuels"></app-list-return-link>
</app-permit-task>
