@let vm = this.vm();

@if (!vm.isRecallSubmitted) {
  <app-page-heading size="xl">Are you sure you want to recall the {{ vm.type }}?</app-page-heading>

  <div class="govuk-button-group">
    <button type="button" appPendingButton (click)="onRecall()" govukWarnButton>Yes, recall the {{ vm.type }}</button>
  </div>

  <a govukLink routerLink="../">Return to: {{ vm.returnToText }}</a>
} @else {
  <app-confirmation-shared
    title="The {{ vm.type }} has been recalled"
    [whatHappensNextTemplate]="whatHappensNextTemplate"
    returnToLink="/dashboard"></app-confirmation-shared>

  <ng-template #whatHappensNextTemplate>
    <h3 class="govuk-heading-m">What happens next</h3>

    <p class="govuk-body">You can continue to edit the {{ vm.type }} from your dashboard.</p>
  </ng-template>
}
