@if (requestInfo$ | async; as requestInfo) {
  <div class="govuk-grid-row">
    <div
      [class]="
        (validRequestCreateActionsTypes$ | async)?.length > 0 || (hasMarkAsNotRequiredAccess$ | async)
          ? 'govuk-grid-column-two-thirds search-results-list_item_status'
          : 'govuk-grid-column-full search-results-list_item_status'
      ">
      <app-page-heading size="xl" [caption]="requestInfo.id">
        {{ title$ | async }} {{ workflowDetailsTypesMap[requestInfo.requestType] }}
        <govuk-tag [color]="requestInfo.requestStatus | tagColor">
          {{ requestInfo.requestStatus | i18nSelect: workflowStatusesTagMap }}
        </govuk-tag>
      </app-page-heading>
      @if (relatedTasks$ | async; as relatedTasks) {
        @if (relatedTasks.length > 0) {
          <app-related-tasks [items]="relatedTasks" heading="Tasks to complete"></app-related-tasks>
        }
      }
      <govuk-tabs (selectedTab)="selectedTab($event)">
        @if (userRoleType$ | async; as roleType) {
          <ng-template govukTab id="timeline" label="Timeline">
            @if (actions$ | async; as actions) {
              <div class="govuk-grid-row">
                <app-timeline class="govuk-grid-column-full">
                  @for (action of actions; track action) {
                    <app-timeline-item
                      [action]="action"
                      [link]="action | timelineItemLink: true : isAviation : roleType"
                      [state]="navigationState"
                      [year]="title$ | async"></app-timeline-item>
                  }
                  @if (actions?.length === 0) {
                    <p class="govuk-body">No timeline events</p>
                  }
                </app-timeline>
              </div>
            }
          </ng-template>
        }
        @if ((userRoleType$ | async) === 'REGULATOR') {
          <ng-template govukTab id="notes" label="Notes">
            <app-request-notes [currentTab]="currentTab$ | async"></app-request-notes>
          </ng-template>
        }
      </govuk-tabs>
    </div>
    @if (
      (accountId$ | async) !== null &&
      ((validRequestCreateActionsTypes$ | async)?.length > 0 || (hasMarkAsNotRequiredAccess$ | async))
    ) {
      <div class="govuk-grid-column-one-third">
        <app-workflow-related-create-actions
          [accountId$]="accountId$"
          [requestId$]="requestId$"
          [requestCreateActionsTypes$]="validRequestCreateActionsTypes$"
          [hasMarkAsNotRequiredAccess]="hasMarkAsNotRequiredAccess$ | async"></app-workflow-related-create-actions>
      </div>
    }
  </div>
}
