<div class="govuk-grid-row" *ngIf="requestInfo$ | async as requestInfo">
  <div
    [class]="
      (validRequestCreateActionsTypes$ | async)?.length > 0 ? 'govuk-grid-column-two-thirds' : 'govuk-grid-column-full'
    "
  >
    <app-page-heading size="xl" [caption]="requestInfo.id">
      {{ title$ | async }} {{ workflowDetailsTypesMap[requestInfo.requestType] }}

      <span class="search-results-list_item_status govuk-tag govuk-tag--{{ requestInfo.requestStatus | tagColor }}">
        <strong>{{ requestInfo.requestStatus | i18nSelect: workflowStatusesTagMap }}</strong>
      </span>
    </app-page-heading>

    <ng-container *ngIf="relatedTasks$ | async as relatedTasks">
      <app-related-tasks
        *ngIf="relatedTasks.length > 0"
        [items]="relatedTasks"
        heading="Tasks to complete"
      ></app-related-tasks>
    </ng-container>

    <govuk-tabs (selectedTab)="selectedTab($event)">
      <ng-template govukTab id="timeline" label="Timeline" *ngIf="userRoleType$ | async as roleType">
        <div class="govuk-grid-row" *ngIf="actions$ | async as actions">
          <app-timeline class="govuk-grid-column-full">
            <app-timeline-item
              *ngFor="let action of actions"
              [action]="action"
              [link]="action | timelineItemLink: true : isAviation : roleType"
              [state]="navigationState"
              [year]="title$ | async"
            ></app-timeline-item>

            <p class="govuk-body" *ngIf="actions?.length === 0">No timeline events</p>
          </app-timeline>
        </div>
      </ng-template>

      <ng-template govukTab id="notes" label="Notes" *ngIf="(userRoleType$ | async) === 'REGULATOR'">
        <app-request-notes [currentTab]="currentTab$ | async"></app-request-notes>
      </ng-template>
    </govuk-tabs>
  </div>

  <div
    class="govuk-grid-column-one-third"
    *ngIf="(accountId$ | async) !== null && (validRequestCreateActionsTypes$ | async)?.length > 0"
  >
    <app-workflow-related-create-actions
      [accountId$]="accountId$"
      [requestId$]="requestId$"
      [requestCreateActionsTypes$]="validRequestCreateActionsTypes$"
    ></app-workflow-related-create-actions>
  </div>
</div>
