<ng-container *ngIf="vm$ | async as vm">
  <app-wizard-step
    (formSubmit)="onSubmit()"
    [formGroup]="reportingObligationForm"
    submitText="Continue"
    [hideSubmit]="false"
    [heading]="vm.heading"
  >

    <p class="govuk-body govuk-!-width-two-thirds" *ngIf="vm.isCorsia else ukEts">You must submit an emissions report
      for the scheme year if your annual emissions from international flights within the scope of CORSIA exceeded 10,000
      tonnes CO2.</p>

    <ng-template #ukEts>
      <p class="govuk-body govuk-!-width-two-thirds">
        You must submit an emissions report for the scheme year if you have performed an aviation activity in Schedule 1
        of the UK ETS Order and:
      </p>

      <p class="govuk-body govuk-!-width-two-thirds">
        <strong>For commercial aircraft operators</strong> (both points apply)
      </p>

      <ul class="govuk-body govuk-!-width-two-thirds">
        <li>
          In a calendar year you operated 243 or more UK ETS full-scope flights in any 4-month period (January to April,
          May to August, September to December)
        </li>

        <li>Your emissions from UK ETS full-scope flights are 10,000 or more tonnes of CO2</li>
      </ul>

      <p class="govuk-body govuk-!-width-two-thirds">
        <strong>For non-commercial aircraft operators</strong>
      </p>

      <ul class="govuk-body govuk-!-width-two-thirds">
        <li>Your annual emissions from UK ETS full-scope flights are 1000 or more tonnes of CO2</li>
      </ul>
    </ng-template>
    <app-reporting-obligation-form [year]="vm.year" [downloadUrl]="vm.downloadUrl"></app-reporting-obligation-form>
  </app-wizard-step>
</ng-container>

<app-return-to-link></app-return-to-link>
