<ng-container *ngIf="vm$ | async as vm">
  <app-page-heading>{{ vm.pageHeader }}</app-page-heading>

  <app-data-gaps-methodologies-group
    [dataGapsMethodologies]="vm.data"
    [isEditable]="vm.isEditable"
    [queryParams]="{ change: true }"
  ></app-data-gaps-methodologies-group>

  <div class="govuk-button-group">
    <button (click)="onSubmit()" appPendingButton govukButton type="button" *ngIf="!vm.hideSubmit">
      Confirm and complete
    </button>
  </div>

  <app-aviation-aer-verification-review-decision-group
    *ngIf="vm.showDecision"
    taskKey="dataGapsMethodologies"
  ></app-aviation-aer-verification-review-decision-group>
</ng-container>

<app-return-to-link></app-return-to-link>
