<ng-template #contentTpl let-showOriginal>
  <ul app-task-item-list>
    <li
      *ngIf="'uncertaintyAnalysis' | taskStatus | async as status"
      app-task-item
      link="../../uncertainty-analysis/summary"
      linkText="Uncertainty analysis"
      [status]="status"
      [hasContent]="true"
    >
      <app-uncertainty-analysis-summary-details
        [showOriginal]="showOriginal"
        [hasBottomBorder]="false"
        [isPreview]="true"
      ></app-uncertainty-analysis-summary-details>
    </li>
  </ul>
</ng-template>

<app-permit-task-review [breadcrumb]="true" [notification]="notification" heading="Uncertainty analysis">
  <app-highlight-diff *ngIf="(showDiff$ | async) === true">
    <ng-container slot="previous" *ngTemplateOutlet="contentTpl; context: { $implicit: true }"></ng-container>
    <ng-container slot="current" *ngTemplateOutlet="contentTpl; context: { $implicit: false }"></ng-container>
  </app-highlight-diff>

  <ng-container
    *ngIf="(showDiff$ | async) === false"
    [ngTemplateOutlet]="contentTpl"
    [ngTemplateOutletContext]="{ $implicit: false }"
  ></ng-container>

  <app-review-group-decision-container
    [groupKey]="groupKey$ | async"
    (notification)="notification = $event"
  ></app-review-group-decision-container>
</app-permit-task-review>
