@if (vm(); as vm) {
  <ng-container *ngTemplateOutlet="actionContainer"></ng-container>
  <ng-template #actionContainer>
    <app-base-action-container-component
      [header]="action$ | async | itemActionHeader"
      [customContentTemplate]="customContentTemplate"
      [expectedActionType]="vm.expectedActionType"></app-base-action-container-component>
  </ng-template>
  <ng-template #customContentTemplate>
    <h2 class="govuk-heading-m">Operator details</h2>
    @if (vm.expectedActionType[0] === 'AVIATION_REPORTABLE_EMISSIONS_SENT_TO_REGISTRY') {
      <dl govuk-summary-list>
        <div govukSummaryListRow>
          <dt govukSummaryListRowKey>UK ETS Registry ID</dt>
          <dd govukSummaryListRowValue>{{ $any(vm.operatorDetails).registryId }}</dd>
          <dd govukSummaryListRowActions></dd>
        </div>
        <div govukSummaryListRow>
          <dt govukSummaryListRowKey>Reporting year</dt>
          <dd govukSummaryListRowValue>{{ vm.operatorDetails.reportingYear }}</dd>
          <dd govukSummaryListRowActions></dd>
        </div>
        <div govukSummaryListRow>
          <dt govukSummaryListRowKey>Emissions value</dt>
          <dd govukSummaryListRowValue>{{ vm.operatorDetails.reportableEmissions }} tCO2</dd>
          <dd govukSummaryListRowActions></dd>
        </div>
      </dl>
    } @else {
      <dl govuk-summary-list>
        @if ($any(vm.operatorDetails)?.emitterId) {
          <div govukSummaryListRow>
            <dt govukSummaryListRowKey>Emitter ID</dt>
            <dd govukSummaryListRowValue>{{ $any(vm.operatorDetails).emitterId }}</dd>
            <dd govukSummaryListRowActions></dd>
          </div>
        } @else if ($any(vm.operatorDetails).registryId) {
          <div govukSummaryListRow>
            <dt govukSummaryListRowKey>UK ETS Registry ID</dt>
            <dd govukSummaryListRowValue>{{ $any(vm.operatorDetails).registryId }}</dd>
            <dd govukSummaryListRowActions></dd>
          </div>
        }
        @if (vm.operatorDetails?.emissionsPlanId) {
          <div govukSummaryListRow>
            <dt govukSummaryListRowKey>Emission plan ID</dt>
            <dd govukSummaryListRowValue>{{ vm.operatorDetails.emissionsPlanId }}</dd>
            <dd govukSummaryListRowActions></dd>
          </div>
        }
        @if (vm.operatorDetails?.operatorName) {
          <div govukSummaryListRow>
            <dt govukSummaryListRowKey>Operator name</dt>
            <dd govukSummaryListRowValue>{{ vm.operatorDetails.operatorName }}</dd>
            <dd govukSummaryListRowActions></dd>
          </div>
        }
        @if ($any(vm.operatorDetails).firstKnownAviationActivity) {
          <div govukSummaryListRow>
            <dt govukSummaryListRowKey>First known aviation activity</dt>
            <dd govukSummaryListRowValue>{{ $any(vm.operatorDetails).firstKnownAviationActivity | govukDate }}</dd>
            <dd govukSummaryListRowActions></dd>
          </div>
        } @else if ($any(vm.operatorDetails).firstYearOfReportingObligation) {
          <div govukSummaryListRow>
            <dt govukSummaryListRowKey>First year of reporting obligation</dt>
            <dd govukSummaryListRowValue>{{ $any(vm.operatorDetails).firstYearOfReportingObligation }}</dd>
            <dd govukSummaryListRowActions></dd>
          </div>
        }
        @if (vm.operatorDetails.regulator) {
          <div govukSummaryListRow>
            <dt govukSummaryListRowKey>Regulator</dt>
            <dd govukSummaryListRowValue>{{ vm.operatorDetails.regulator }}</dd>
            <dd govukSummaryListRowActions></dd>
          </div>
        }
      </dl>
      @if (vm?.organizationDetails; as organisationStructure) {
        <h2 class="govuk-heading-m">Organisation details</h2>
        <dl govuk-summary-list>
          <div govukSummaryListRow>
            <dt govukSummaryListRowKey>Organisation legal status</dt>
            <dd govukSummaryListRowValue>
              {{ organisationStructure.organisationLegalStatus | operatorDetailsLegalStatusType }}
            </dd>
            <dd govukSummaryListRowActions></dd>
          </div>
          @switch (organisationStructure.organisationLegalStatus) {
            @case ('LIMITED_COMPANY') {
              <div govukSummaryListRow>
                <dt govukSummaryListRowKey>Company registration number</dt>
                <dd govukSummaryListRowValue>{{ $any(organisationStructure).companyRegistrationNumber }}</dd>
                <dd govukSummaryListRowActions></dd>
              </div>
              <div govukSummaryListRow>
                <dt govukSummaryListRowKey>Registered address</dt>
                @if ($any(organisationStructure).registeredAddress.type === 'ONSHORE_STATE') {
                  <dd govukSummaryListRowValue>
                    <div>
                      {{ $any(organisationStructure).registeredAddress.line1 }}
                      @if ($any(organisationStructure).registeredAddress.line2) {
                        , {{ $any(organisationStructure).registeredAddress.line2 }}
                      }
                    </div>
                    <div>{{ $any(organisationStructure).registeredAddress.city }}</div>
                    <div>{{ $any(organisationStructure).registeredAddress.state }}</div>
                    <div>{{ $any(organisationStructure).registeredAddress.postcode }}</div>
                    <div>{{ $any(organisationStructure).registeredAddress.country | country }}</div>
                  </dd>
                }
                <dd govukSummaryListRowActions></dd>
              </div>
            }
            @case ('INDIVIDUAL') {
              <div govukSummaryListRow>
                <dt govukSummaryListRowKey>Full name</dt>
                <dd govukSummaryListRowValue>{{ $any(organisationStructure).fullName }}</dd>
                <dd govukSummaryListRowActions></dd>
              </div>
              <div govukSummaryListRow>
                <dt govukSummaryListRowKey>Address</dt>
                <dd govukSummaryListRowValue>
                  <div>
                    {{ $any(organisationStructure).address.line1 }}
                    @if ($any(organisationStructure).address.line2) {
                      , {{ $any(organisationStructure).address.line2 }}
                    }
                  </div>
                  <div>{{ $any(organisationStructure).address.city }}</div>
                  <div>{{ $any(organisationStructure).address.state }}</div>
                  <div>{{ $any(organisationStructure).address.postcode }}</div>
                  <div>{{ $any(organisationStructure).address.country | country }}</div>
                </dd>
                <dd govukSummaryListRowActions></dd>
              </div>
            }
            @case ('PARTNERSHIP') {
              @if ($any(organisationStructure).partnershipName) {
                <div govukSummaryListRow>
                  <dt govukSummaryListRowKey>Name of partnership</dt>
                  <dd govukSummaryListRowValue>{{ $any(organisationStructure).partnershipName }}</dd>
                  <dd govukSummaryListRowActions></dd>
                </div>
              }
              <div govukSummaryListRow>
                <dt govukSummaryListRowKey>Main office address</dt>
                <dd govukSummaryListRowValue>
                  <div>
                    {{ $any(organisationStructure).mainOfficeAddress.line1 }}
                    @if ($any(organisationStructure).mainOfficeAddress.line2) {
                      , {{ $any(organisationStructure).mainOfficeAddress.line2 }}
                    }
                  </div>
                  <div>{{ $any(organisationStructure).mainOfficeAddress.city }}</div>
                  <div>{{ $any(organisationStructure).mainOfficeAddress.state }}</div>
                  <div>{{ $any(organisationStructure).mainOfficeAddress.postcode }}</div>
                  <div>{{ $any(organisationStructure).mainOfficeAddress.country | country }}</div>
                </dd>
                <dd govukSummaryListRowActions></dd>
              </div>
            }
          }
        </dl>
      }
    }
  </ng-template>
}
