<ng-container *ngIf="(isEditable$ | async) && ((canEdit$ | async) || isOnEditState); else viewDecision">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <govuk-error-summary *ngIf="isSummaryDisplayed$ | async" [form]="form"></govuk-error-summary>
    <app-emp-variation-review-decision-group-form></app-emp-variation-review-decision-group-form>
    <button appPendingButton govukButton type="submit">Confirm</button>
  </form>
</ng-container>

<ng-template #viewDecision>
  <h2
    app-summary-header
    class="govuk-heading-m"
    (changeClick)="isOnEditState = true"
    [changeRoute]="(isEditable$ | async) ? '.' : null"
  >
    Decision Summary
  </h2>
  <app-emp-variation-review-decision-group-summary
    [data]="decisionData$ | async"
    [attachments]="attachments$ | async"
    [downloadBaseUrl]="store.empDelegate.baseFileAttachmentDownloadUrl"
  ></app-emp-variation-review-decision-group-summary>
</ng-template>
