<ng-container *ngIf="vm$ | async as vm">
  <app-page-heading>{{ vm.heading }}</app-page-heading>
  <h2 class="govuk-heading-m">Misstatements not corrected before issuing this report</h2>
  <dl govuk-summary-list [hasBorders]="true">
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Are there any misstatements that were not corrected before issuing this report?</dt>
      <dd govukSummaryListRowValue>{{ vm.data.exist ? 'Yes' : 'No' }}</dd>
    </div>
  </dl>
  <app-uncorrected-item-group
    explanationHeader="Description"
    [uncorrectedItems]="vm.data?.uncorrectedMisstatements"
    *ngIf="vm.data.exist"
  ></app-uncorrected-item-group>
  <app-aviation-aer-verification-review-decision-group
    *ngIf="vm.showDecision"
    taskKey="uncorrectedMisstatements"
  ></app-aviation-aer-verification-review-decision-group>
</ng-container>
<app-return-to-link></app-return-to-link>
