<ng-template #contentTpl let-showOriginal let-appliedTiers="appliedTiers">
  <h2 class="govuk-heading-m">Fall-back emission sources</h2>
  <ul app-task-item-list>
    <div class="overflow-auto">
      <ng-container *ngIf="appliedTiers?.length > 0; else addNew">
        <govuk-table [columns]="columns" [data]="appliedTiers">
          <ng-template let-column="column" let-row="row" let-index="index">
            <ng-container [ngSwitch]="column.field">
              <ng-container *ngSwitchCase="'category'">
                <ng-container *ngIf="showOriginal; else currentCategory">
                  <ng-container
                    *ngIf="
                      row?.sourceStreamCategory?.sourceStream | findSourceStream: !showOriginal | async as sourceStream;
                      else noSourceStream
                    "
                    >{{ sourceStream | tierSourceStreamName: row.sourceStreamCategory }}</ng-container
                  >
                </ng-container>
                <ng-template #currentCategory>
                  <a govukLink [routerLink]="['../../fall-back/category-tier', index]">
                    <ng-container
                      *ngIf="
                        row?.sourceStreamCategory?.sourceStream
                          | findSourceStream: !showOriginal
                          | async as sourceStream;
                        else noSourceStream
                      "
                      >{{ sourceStream | tierSourceStreamName: row.sourceStreamCategory }}</ng-container
                    ></a
                  >
                </ng-template>
                <ng-template #noSourceStream>
                  UNDEFINED: {{ row?.sourceStreamCategory?.categoryType | categoryTypeName }}
                </ng-template>
              </ng-container>
              <ng-container *ngSwitchCase="'emissions'">
                {{ row?.sourceStreamCategory?.annualEmittedCO2Tonnes | number }} t
              </ng-container>
              <ng-container *ngSwitchCase="'status'">
                <ng-container *ngIf="!showOriginal; else originalStatus">
                  <govuk-tag
                    [color]="'FALLBACK_Category_Tier' | taskStatus: index | async | tagColor"
                    class="app-task-list__tag"
                  >
                    {{ 'FALLBACK_Category_Tier' | taskStatus: index | async | i18nSelect: statusMap }}
                  </govuk-tag>
                </ng-container>
                <ng-template #originalStatus>
                  <govuk-tag [color]="'complete' | tagColor" class="app-task-list__tag">
                    {{ 'complete' | i18nSelect: statusMap }}
                  </govuk-tag>
                </ng-template>
              </ng-container>
            </ng-container>
          </ng-template>
        </govuk-table>
        <a
          *ngIf="(store.isEditable$ | async) === true"
          govukLink
          [routerLink]="['../../fall-back/category-tier', appliedTiers?.length]"
        >
          Add a source stream category
        </a>
      </ng-container>

      <ng-template #addNew>
        <li
          *ngIf="(store.isEditable$ | async) === true"
          app-task-item
          link="../../fall-back/category-tier/0"
          linkText="Add a source stream category"
          [status]="sourceStreamCategoriesStatus$ | async"
        ></li>
      </ng-template>
    </div>
  </ul>

  <h2 class="govuk-heading-m">{{ 'FALLBACK' | monitoringApproachDescription }} details</h2>

  <ul app-task-item-list>
    <li
      app-task-item
      link="../../fall-back/description/summary"
      linkText="Approach description and justification"
      [status]="'FALLBACK_Description' | taskStatus | async"
    >
      <app-fallback-description-summary-template
        [showOriginal]="showOriginal"
        [hasBottomBorder]="false"
      ></app-fallback-description-summary-template>
    </li>
    <li
      app-task-item
      link="../../fall-back/uncertainty/summary"
      linkText="Annual uncertainty analysis"
      [status]="'FALLBACK_Uncertainty' | taskStatus | async"
    >
      <app-procedure-form-summary
        [details]="'monitoringApproaches.FALLBACK.annualUncertaintyAnalysis' | taskProcedureForm: !showOriginal | async"
        cssClass="govuk-!-margin-bottom-0"
        [hasBottomBorder]="false"
      ></app-procedure-form-summary>
    </li>
  </ul>
</ng-template>

<app-permit-task-review
  [breadcrumb]="true"
  [notification]="notification"
  [heading]="'FALLBACK' | monitoringApproachDescription"
>
  <app-site-emissions></app-site-emissions>

  <app-highlight-diff *ngIf="(showDiff$ | async) === true">
    <ng-container
      slot="previous"
      *ngTemplateOutlet="
        contentTpl;
        context: { $implicit: true, appliedTiers: originalSourceStreamCategoryAppliedTiers$ | async }
      "
    ></ng-container>
    <ng-container
      slot="current"
      *ngTemplateOutlet="
        contentTpl;
        context: { $implicit: false, appliedTiers: sourceStreamCategoryAppliedTiers$ | async }
      "
    ></ng-container>
  </app-highlight-diff>

  <ng-container
    *ngIf="(showDiff$ | async) === false"
    [ngTemplateOutlet]="contentTpl"
    [ngTemplateOutletContext]="{ $implicit: false, appliedTiers: sourceStreamCategoryAppliedTiers$ | async }"
  ></ng-container>

  <app-review-group-decision-container
    [groupKey]="groupKey$ | async"
    (notification)="notification = $event"
  ></app-review-group-decision-container>
</app-permit-task-review>
