<div
  class="govuk-!-width-two-thirds"
  formControlName="totalEmissionsType"
  govuk-radio
  [isInline]="false"
  legendSize="medium"
>
  <govuk-radio-option value="FULL_SCOPE_FLIGHTS" label="from full-scope flights">
    <ng-container govukConditionalContent>
      <div
        formControlName="fullScopeTotalEmissions"
        govuk-text-input
        inputType="big-number"
        label="Enter your annual emissions from full-scope flights"
        suffix="tonnes CO2"
      ></div>
    </ng-container>
  </govuk-radio-option>
  <govuk-radio-option value="AVIATION_ACTIVITY" label="from aviation activity">
    <ng-container govukConditionalContent>
      <div
        formControlName="aviationActivityTotalEmissions"
        govuk-text-input
        inputType="big-number"
        label="Enter your annual emissions from aviation activity"
        suffix="tonnes CO2"
      ></div>
    </ng-container>
  </govuk-radio-option>
</div>
