<app-permit-task
  [breadcrumb]="[
    {
      text: 'MEASUREMENT_N2O' | monitoringApproachDescription,
      link: ['nitrous-oxide']
    }
  ]"
>
  <app-wizard-step
    (formSubmit)="onSubmit()"
    [formGroup]="form"
    submitText="Confirm and complete"
    [caption]="'MEASUREMENT_N2O' | monitoringApproachDescription"
    heading="Calculation of gas flow"
    [hideSubmit]="(store.isEditable$ | async) === false"
  >
    <div class="govuk-body">
      <p>
        Where gas flow is determined by calculation, give details about the written procedure for the calculation,
        including the essential parameters and operations performed.
      </p>
    </div>

    <app-boolean-radio-group controlName="exist" legend="Is gas flow determined by calculation?">
      <div govukConditionalContent>
        <app-procedure-form formGroupName="procedureForm">
          <div class="govuk-body">
            <h2>Provide gas flow details</h2>
            <p>Provide details of the procedures used for this calculation for each relevant emission source.</p>
          </div>
        </app-procedure-form>
      </div>
    </app-boolean-radio-group>
  </app-wizard-step>

  <app-approach-return-link
    [parentTitle]="'MEASUREMENT_N2O' | monitoringApproachDescription"
    reviewGroupUrl="nitrous-oxide"
  ></app-approach-return-link>
</app-permit-task>
