<app-permit-task [breadcrumb]="true">
  <app-page-heading>Check your answers</app-page-heading>
  <ng-container *ngIf="isVariation$ | async; else issuanceSummary">
    <app-permit-variation-determination-summary-details
      [changePerStage]="true"
      cssClass="summary-list--edge-border"
    ></app-permit-variation-determination-summary-details>
  </ng-container>
  <ng-template #issuanceSummary>
    <app-permit-application-determination-summary-details
      [changePerStage]="true"
      cssClass="summary-list--edge-border"
    ></app-permit-application-determination-summary-details>
  </ng-template>
  <div class="govuk-button-group">
    <button appPendingButton govukButton type="button" (click)="confirm()" *ngIf="(store.isEditable$ | async) === true">
      Confirm and complete
    </button>
  </div>
  <a govukLink routerLink="../..">Return to: {{ determinationHeader }}</a>
</app-permit-task>
