<app-wizard-step
  (formSubmit)="onSubmit()"
  [formGroup]="form"
  heading="Add a sustainable aviation fuel purchase"
  submitText="Continue"
  [hideSubmit]="false"
>
  <div class="govuk-!-width-two-thirds">
    <p class="govuk-body">Provide information for each batch of sustainable aviation fuel included in your claim.</p>
  </div>

  <h2 class="govuk-heading-s">Fuel name</h2>
  <div govuk-text-input formControlName="fuelName" class="govuk-!-width-two-thirds"></div>

  <h2 class="govuk-heading-s">Batch number</h2>
  <div govuk-text-input formControlName="batchNumber" class="govuk-!-width-two-thirds"></div>

  <h2 class="govuk-heading-s govuk-!-width-two-thirds">
    Total mass of sustainable aviation fuel claimed from the batch
  </h2>
  <div
    formControlName="safMass"
    govuk-text-input
    inputType="number"
    hint="If you are converting from volume to mass, please ensure that the density figure used is correct at 15° Celsius."
    suffix="tonnes"
    widthClass="govuk-!-width-one-third"
    class="govuk-!-width-two-thirds"
  ></div>

  <h2 class="govuk-heading-s govuk-!-width-two-thirds">
    What evidence do you have that proves this batch meets the sustainability criteria set out in the UK ETS Order?
  </h2>
  <div govuk-radio formControlName="sustainabilityCriteriaEvidenceType" class="govuk-!-width-two-thirds">
    <govuk-radio-option
      label="Screenshot from the RTFO registry"
      value="SCREENSHOT_FROM_RTFO_REGISTRY"
    ></govuk-radio-option>
    <govuk-radio-option
      label="Voluntary certification scheme marking (for example, ISCC)"
      value="VOLUNTARY_CERTIFICATION_SCHEME_MARKING"
    ></govuk-radio-option>
    <govuk-radio-option label="Fuel supplier report" value="FUEL_SUPPLIER_REPORT"></govuk-radio-option>
    or
    <govuk-radio-option label="Other evidence" value="OTHER" [divider]="true">
      <ng-container govukConditionalContent>
        <div
          formControlName="otherSustainabilityCriteriaEvidenceDescription"
          govuk-text-input
          label="Description"
        ></div>
      </ng-container>
    </govuk-radio-option>
  </div>

  <h2 class="govuk-heading-m govuk-!-width-two-thirds">
    Upload evidence of proof of sustainability, and proof of purchase and delivery
  </h2>
  <p class="govuk-body">The batch must be:</p>

  <ul class="govuk-body govuk-!-width-two-thirds">
    <li>purchased in the scheme year, or up to three months beforehand</li>
    <li>delivered no later than 31 March of the year after the scheme year</li>
  </ul>

  <div class="govuk-!-width-two-thirds">
    <app-multiple-file-input
      [baseDownloadUrl]="downloadUrl"
      listTitle="Files added"
      [label]="null"
      formControlName="evidenceFiles"
    ></app-multiple-file-input>
  </div>
</app-wizard-step>
<app-return-to-link></app-return-to-link>
