<ng-container *ngIf="vm$ | async as vm">
  <app-page-heading>{{ vm.pageHeader }}</app-page-heading>

  <app-operator-details-summary-template
    *ngIf="vm.operatorDetails"
    [data]="vm.operatorDetails"
    [certificationFiles]="vm.certificationFiles"
    [evidenceFiles]="vm.evidenceFiles"
    [isEditable]="vm.isEditable"
    [changeUrlQueryParams]="{ change: true }"
    [isCorsia]="true"
  ></app-operator-details-summary-template>

  <div class="govuk-button-group">
    <button (click)="onSubmit()" appPendingButton govukButton type="button" *ngIf="!vm.hideSubmit">
      Confirm and complete
    </button>
  </div>
</ng-container>
<app-return-to-link></app-return-to-link>
