<app-procedure-form-step [form]="form" (submitForm)="onSubmit()">
  <div procedureFormPageHeader>
    <app-page-heading>Avoid double counting of SAF</app-page-heading>
    <p class="govuk-body">
      Describe the procedures you use to ensure that you do not include in your claim any SAF that you have:
    </p>
    <ul class="govuk-body">
      <li>used to obtain a benefit from another greenhouse gas emissions reduction or regulatory scheme</li>
      <li>sold to a third party</li>
    </ul>
    <p class="govuk-body">If you report to another emissions reduction scheme, please name this.</p>
  </div>
</app-procedure-form-step>
