<app-bdrs2-task-review
  [breadcrumb]="true"
  heading="Review the stage 2 baseline data report and details"
  caption="Stage 2 baseline data report and details">
  <app-bdrs2-baseline-summary-template
    [isEditable]="false"
    [data]="bdrs2()"
    [bdrFile]="bdrFile()"
    [files]="files()"
    [mmpFile]="mmpFile()"
    [mmpFiles]="mmpFiles()"></app-bdrs2-baseline-summary-template>

  <app-bdrs2-review-group-decision (notification)="notification = $event"></app-bdrs2-review-group-decision>
</app-bdrs2-task-review>
