<app-aer-task [breadcrumb]="true">
  <app-page-heading>European Pollutant Release and Transfer Register codes (EPRTR)</app-page-heading>

  <p class="govuk-body">
    <strong>PRTR reporting is <u>not</u> required for UK ETS - therefore enter 'no' in this section.</strong>
  </p>

  <app-prtr-summary-template
    [activities]="activities$ | async"
    [isEditable]="aerService.isEditable$ | async"
  ></app-prtr-summary-template>

  <div class="govuk-button-group" *ngIf="(aerService.isEditable$ | async) === true">
    <button (click)="onSubmit()" appPendingButton govukButton type="button">Confirm and complete</button>
  </div>

  <app-return-link></app-return-link>
</app-aer-task>
