<app-aer-task [breadcrumb]="true">
  <app-page-heading>European Pollutant Release and Transfer Register codes (EPRTR)</app-page-heading>

  <p class="govuk-body">
    A PRTR is a national or regional environmental inventory of potentially hazardous chemical substances or pollutants
    released to air, water and soil and transferred off-site for treatment or disposal.
  </p>
  <p class="govuk-body">
    <a href="https://www.legislation.gov.uk/eur/2006/166/annex/I" rel="noreferrer noopener" target="_blank">
      Annex I of the UK PRTR legislation
    </a>
    on PRTRs specifies which activities need to report their information.
  </p>

  <app-prtr-summary-template
    [activities]="activities$ | async"
    [isEditable]="aerService.isEditable$ | async"
  ></app-prtr-summary-template>

  <div class="govuk-button-group" *ngIf="(aerService.isEditable$ | async) === true">
    <button (click)="onSubmit()" appPendingButton govukButton type="button">Confirm and complete</button>
  </div>

  <app-return-link></app-return-link>
</app-aer-task>
