@use 'govuk-frontend/govuk/base' as govuk;

.row-container {
  display: flex;
  align-items: flex-end;
}

.app-column-width-5-per {
  width: 5%;
}

.app-column-width-15-per {
  width: 15%;
}
.app-column-width-20-per {
  width: 20%;
}

.no-bottom-border table tbody tr:last-of-type td {
  border-bottom: none;
}
