<ng-container *ngIf="vm$ | async as vm">
  <app-page-heading>{{ vm.heading }}</app-page-heading>

  <dl govuk-summary-list>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Are you required to complete a {{ vm.year }} emissions report?</dt>
      <dd govukSummaryListRowValue>{{ vm.reportingRequired ? 'Yes' : 'No' }}</dd>
    </div>

    <ng-container *ngIf="vm.reportingRequired === false">
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>Reasons</dt>
        <dd class="pre-wrap" govukSummaryListRowValue>
          {{ vm.data.noReportingReason }}
        </dd>
      </div>

      <div govukSummaryListRow *ngIf="vm.files?.length > 0">
        <dt govukSummaryListRowKey>Supporting documents</dt>
        <dd govukSummaryListRowValue>
          <app-summary-download-files [files]="vm.files"></app-summary-download-files>
        </dd>
      </div>
    </ng-container>
  </dl>

  <app-aviation-aer-review-decision-group
    *ngIf="vm.showDecision"
    taskKey="reportingObligation"
  ></app-aviation-aer-review-decision-group>
</ng-container>

<app-return-to-link></app-return-to-link>
