<app-procedure-form-step [form]="form" (submitForm)="onSubmit()">
  <div procedureFormPageHeader>
    <app-page-heading>Data validation</app-page-heading>
    <p class="govuk-body">
      Describe the procedures used to ensure regular internal reviews and validation of data. Include data completeness
      checks, comparisons with previous years’ data, comparison of fuel consumption reported with purchase records, and
      criteria for rejecting data.
    </p>
  </div>
</app-procedure-form-step>
