<app-procedure-form-step [form]="form" (submitForm)="onSubmit()">
  <div procedureFormPageHeader>
    <div class="govuk-caption-l">Fuel uplift</div>
    <app-page-heading>Measuring fuel density</app-page-heading>
    <p class="govuk-body govuk-!-width-two-thirds">
      Describe the procedures for determining and recording fuel density values (standard or actual) as used for
      operational and safety reasons, and provide reference to the relevant internal documentation.
    </p>
  </div>
</app-procedure-form-step>
