<app-permit-task
  [breadcrumb]="[{ text: 'TRANSFERRED_CO2_N2O' | monitoringApproachDescription, link: ['transferred-co2'] }]"
>
  <app-wizard-step
    (formSubmit)="onSubmit()"
    [formGroup]="form"
    submitText="Confirm and complete"
    [caption]="'TRANSFERRED_CO2_N2O' | monitoringApproachDescription"
    [heading]="taskKey$ | async | i18nSelect: headingMap"
    [hideSubmit]="(store.isEditable$ | async) === false"
  >
    <app-boolean-radio-group controlName="exist" legend="Does your installation conduct any geological storage?">
      <div govukConditionalContent>
        <app-procedure-form formGroupName="procedureForm">
          <ng-container [ngSwitch]="taskKey$ | async">
            <ng-container *ngSwitchCase="'monitoringApproaches.TRANSFERRED_CO2_N2O.geologicalStorage'">
              <div class="govuk-body">
                <h2>Provide details for the quantification methodologies</h2>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'monitoringApproaches.TRANSFERRED_CO2_N2O.procedureForLeakageEvents'">
              <div class="govuk-body">
                <h2>Provide details</h2>
                <p>
                  Provide details about the procedure for preventing, detecting and quantification of leakage events
                  from transport networks.
                </p>
              </div>
            </ng-container>
          </ng-container>
        </app-procedure-form>
      </div>
    </app-boolean-radio-group>
  </app-wizard-step>

  <app-approach-return-link
    [parentTitle]="'TRANSFERRED_CO2_N2O' | monitoringApproachDescription"
    reviewGroupUrl="transferred-co2"
  ></app-approach-return-link>
</app-permit-task>
