<div
  [maxLength]="10000"
  formControlName="procedureDescription"
  govuk-textarea
  label="Procedure description"
  class="govuk-!-width-two-thirds"
></div>

<div
  formControlName="procedureDocumentName"
  govuk-text-input
  label="Name of the procedure document"
  widthClass="govuk-!-width-two-thirds"
></div>

<div
  formControlName="procedureReference"
  govuk-text-input
  label="Procedure reference"
  widthClass="govuk-!-width-two-thirds"
></div>

<div
  formControlName="responsibleDepartmentOrRole"
  govuk-text-input
  label="Department or role responsible for data maintenance"
  widthClass="govuk-!-width-two-thirds"
></div>

<div
  formControlName="locationOfRecords"
  govuk-text-input
  label="Location of records"
  hint="Usually a physical location where records are kept"
  widthClass="govuk-!-width-two-thirds"
></div>

<div
  formControlName="itSystemUsed"
  govuk-text-input
  label="IT system used (optional)"
  widthClass="govuk-!-width-two-thirds"
></div>
