<div
  [options]="years"
  formControlName="year"
  label="Select year"
  govuk-select
  widthClass="govuk-!-width-one-quarter"></div>

<div
  formControlName="subInstallationName"
  govuk-select
  label="Select sub-installation name"
  widthClass="govuk-!-width-two-thirds">
  <option *ngFor="let opt of subInstallationNameLabelsMap | keyvalue" [value]="opt.key">
    {{ opt.value }}
  </option>
</div>

<app-select-other formControlName="changeType" widthClass="govuk-!-width-full" label="Select change type">
  <option *ngFor="let option of changeTypeLabelsMap | keyvalue" [value]="option.key">
    {{ option.value }}
  </option>
  <option value="OTHER">Other</option>
  <div govukConditionalContent>
    <div formControlName="otherChangeTypeName" govuk-text-input label="Provide a short name"></div>
  </div>
</app-select-other>

<div
  formControlName="changedActivityLevel"
  govuk-text-input
  label="Enter changed activity level (optional)"
  hint="Must be a percentage formatted to two decimal places, for example 20.22%"
  widthClass="govuk-!-width-one-quarter"></div>

<div
  govuk-textarea
  formControlName="comments"
  [maxLength]="10000"
  label="Your comments on this item"
  hint="Provide detailed information about this change. If Article 6a or Article 3za reasons apply, include specific details of temporary or permanent cessations.<br/><br/>
  This will be entered into the official notice"></div>
