<app-wizard-step
  (formSubmit)="onSubmit()"
  [formGroup]="form"
  submitText="Continue"
  [hideSubmit]="!vm.isEditable"
  [heading]="vm.pageHeader"
  *ngIf="vm$ | async as vm"
>
  <div formControlName="materialMisstatementExist" govuk-radio class="govuk-!-width-two-thirds">
    <govuk-radio-option [value]="true" label="Yes">
      <ng-container govukConditionalContent>
        <div
          [maxLength]="10000"
          formControlName="materialMisstatementDetails"
          label="Provide more detail"
          govuk-textarea
        ></div>
      </ng-container>
    </govuk-radio-option>
    <govuk-radio-option [value]="false" label="No"> </govuk-radio-option>
  </div>
</app-wizard-step>
<app-return-to-link></app-return-to-link>
