@if ((isEditable$ | async) && ((canEdit$ | async) || isOnEditState)) {
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    @if (isSummaryDisplayed$ | async) {
      <govuk-error-summary [form]="form"></govuk-error-summary>
    }
    <div
      formControlName="decision"
      govuk-radio
      legend="What is your decision for the information submitted?"
      legendSize="medium">
      <govuk-radio-option value="ACCEPTED" label="Accepted"></govuk-radio-option>
    </div>

    <div
      govuk-textarea
      [maxLength]="10000"
      formControlName="notes"
      label="Notes"
      hint="This cannot be viewed by the operator"></div>
    <button appPendingButton govukButton type="submit">Confirm</button>
  </form>
} @else {
  <app-summary-header
    class="govuk-heading-m"
    (changeClick)="isOnEditState = true"
    [changeRoute]="(isEditable$ | async) ? '.' : null">
    Decision Summary
  </app-summary-header>
  @if (decisionData$ | async; as decisionData) {
    <dl govuk-summary-list class="govuk-summary-list--no-border summary-list--edge-border">
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>Decision status</dt>
        <dd govukSummaryListRowValue>{{ decisionData.type | reviewGroupDecision }}</dd>
      </div>

      @if (decisionData?.details?.notes) {
        <div govukSummaryListRow>
          <dt govukSummaryListRowKey>Notes</dt>
          <dd class="pre-wrap" govukSummaryListRowValue>{{ decisionData.details.notes }}</dd>
        </div>
      }
    </dl>
  }
}
