<app-base-action-container-component
  [header]="'Non compliance'"
  [customContentTemplate]="customContentTemplate"
  [expectedActionType]="['NON_COMPLIANCE_APPLICATION_SUBMITTED']"
>
</app-base-action-container-component>

<ng-template #customContentTemplate>
  <ol class="app-task-list">
    <li app-task-section title="Details">
      <ul app-task-item-list>
        <li
          app-task-item
          [link]="(isAviation$ | async) ? './non-compliance/submitted/summary' : './summary'"
          linkText="Details of breach"
        ></li>
      </ul>
    </li>
  </ol>
</ng-template>
