<ng-container *ngIf="vm$ | async as vm">
  <app-page-heading>{{ vm.pageHeader }}</app-page-heading>

  <app-overall-decision-summary-template
    *ngIf="vm.data"
    [data]="vm.data"
    [isEditable]="vm.isEditable"
    [changeUrlQueryParams]="{ change: true }"
    [variationScheduleItems]="vm.variationScheduleItems"
  ></app-overall-decision-summary-template>

  <div class="govuk-button-group">
    <button (click)="onSubmit()" appPendingButton govukButton type="button" *ngIf="!vm.hideSubmit">
      Confirm and complete
    </button>
  </div>
</ng-container>

<app-return-to-link></app-return-to-link>
