<ng-container *ngIf="isVariationRegulatorLed$ | async; else notVariationRegulatorLed">
  <app-variation-regulator-led-review-group-decision
    [canEdit]="canEdit"
    [groupKey]="groupKey"
    (notification)="notifyEvent()"
  ></app-variation-regulator-led-review-group-decision>
</ng-container>
<ng-template #notVariationRegulatorLed>
  <ng-container *ngIf="isVariation$ | async; else defaultReviewGroupDecision">
    <app-variation-operator-led-review-group-decision
      [canEdit]="canEdit"
      [groupKey]="groupKey"
      (notification)="notifyEvent()"
    ></app-variation-operator-led-review-group-decision>
  </ng-container>
</ng-template>

<ng-template #defaultReviewGroupDecision>
  <app-review-group-decision
    [canEdit]="canEdit"
    [groupKey]="groupKey"
    (notification)="notifyEvent()"
  ></app-review-group-decision>
</ng-template>
