<app-air-task heading="Check your answers" returnToLink="../..">
  <app-air-improvement-item [reference]="reference" [airImprovement]="airImprovement"> </app-air-improvement-item>
  <app-air-operator-response-item
    [reference]="reference"
    [operatorAirImprovementResponse]="operatorAirImprovementResponse$ | async"
    [attachedFiles]="documentFiles$ | async"
    [isEditable]="isEditable$ | async"
    [resolvedChangeLink]="resolvedChangeLink$ | async"
  >
  </app-air-operator-response-item>
  <div *ngIf="(isEditable$ | async) === true" class="govuk-button-group">
    <button appPendingButton govukButton type="button" (click)="onConfirm()">Confirm and complete</button>
  </div>
</app-air-task>
