<ng-container *ngIf="data?.blockHoursPerFlight">
  <app-procedure-form-summary
    header="Measurement of the block hours per flight"
    [isEditable]="isEditable"
    [procedureFormData]="data.blockHoursPerFlight"
    formRouterLink="../"
  ></app-procedure-form-summary>
</ng-container>

<ng-container *ngIf="data?.zeroFuelUplift">
  <h2 class="govuk-heading-m">Assignment and adjustment for flights with zero fuel uplift</h2>

  <dl govuk-summary-list>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Procedure description</dt>
      <dd class="pre-wrap" govukSummaryListRowValue>
        {{ data.zeroFuelUplift }}
      </dd>
      <dd></dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="'../assignment-and-adjustment'" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>
  </dl>
</ng-container>

<ng-container *ngIf="data?.fuelUpliftSupplierRecordType">
  <h2 class="govuk-heading-m">Fuel uplift supplier records</h2>

  <dl govuk-summary-list>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Records used</dt>
      <dd govukSummaryListRowValue>
        {{ data.fuelUpliftSupplierRecordType | fuelUpliftSupplierRecordType }}
      </dd>
      <dd></dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="'../fuel-uplift-records'" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>
  </dl>
</ng-container>

<ng-container *ngIf="data?.fuelDensity">
  <app-procedure-form-summary
    header="Measuring fuel density"
    [isEditable]="isEditable"
    [procedureFormData]="data.fuelDensity"
    formRouterLink="../fuel-uplift-density"
  ></app-procedure-form-summary>
</ng-container>
