<app-aer-task-review heading="Review the emissions reported by the operator" returnToLink="../..">
  <app-wizard-step
    (formSubmit)="onSubmit()"
    [formGroup]="form"
    submitText="Continue"
    [hideSubmit]="(isEditable$ | async) === false"
  >
    <app-emissions-summary-group
      *ngIf="aerPayload$ | async as aerPayload"
      [data]="aerPayload"
    ></app-emissions-summary-group>
    <div
      formControlName="operatorEmissionsAcceptable"
      govuk-radio
      legend="Are the emissions provided by the operator acceptable?"
      legendSize="medium"
    >
      <govuk-radio-option [value]="true" label="Yes"></govuk-radio-option>
      <govuk-radio-option [value]="false" label="No, I want to provide my own emissions figures">
        <ng-container govukConditionalContent formGroupName="monitoringApproachTypeEmissions">
          <fieldset
            id="calculationCombustionEmissions"
            govukFieldset
            formGroupName="calculationCombustionEmissions"
            class="govuk-!-margin-bottom-9"
          >
            <legend size="medium" govukLegend>Calculation of combustion emissions</legend>
            <div
              formControlName="reportableEmissions"
              govuk-text-input
              [label]="emissionsLabel"
              [suffix]="suffixLabel"
              widthClass="govuk-input--width-20"
            ></div>
            <div
              formControlName="sustainableBiomass"
              govuk-text-input
              [label]="biomassLabel"
              [suffix]="suffixLabel"
              widthClass="govuk-input--width-20"
            ></div>
          </fieldset>
          <fieldset
            id="calculationProcessEmissions"
            govukFieldset
            formGroupName="calculationProcessEmissions"
            class="govuk-!-margin-bottom-9"
          >
            <legend size="medium" govukLegend>Calculation of process emissions</legend>
            <div
              formControlName="reportableEmissions"
              govuk-text-input
              [label]="emissionsLabel"
              [suffix]="suffixLabel"
              widthClass="govuk-input--width-20"
            ></div>
            <div
              formControlName="sustainableBiomass"
              govuk-text-input
              [label]="biomassLabel"
              [suffix]="suffixLabel"
              widthClass="govuk-input--width-20"
            ></div>
          </fieldset>
          <fieldset
            id="calculationMassBalanceEmissions"
            govukFieldset
            formGroupName="calculationMassBalanceEmissions"
            class="govuk-!-margin-bottom-9"
          >
            <legend size="medium" govukLegend>Calculation of mass balance emissions</legend>
            <div
              formControlName="reportableEmissions"
              govuk-text-input
              [label]="emissionsLabel"
              [suffix]="suffixLabel"
              widthClass="govuk-input--width-20"
            ></div>
            <div
              formControlName="sustainableBiomass"
              govuk-text-input
              [label]="biomassLabel"
              [suffix]="suffixLabel"
              widthClass="govuk-input--width-20"
            ></div>
          </fieldset>
          <fieldset
            id="calculationTransferredCO2Emissions"
            govukFieldset
            formGroupName="calculationTransferredCO2Emissions"
            class="govuk-!-margin-bottom-9"
          >
            <legend size="medium" govukLegend>Calculation of transferred CO2 emissions</legend>
            <div
              formControlName="reportableEmissions"
              govuk-text-input
              [label]="emissionsLabel"
              [suffix]="suffixLabel"
              widthClass="govuk-input--width-20"
            ></div>
            <div
              formControlName="sustainableBiomass"
              govuk-text-input
              [label]="biomassLabel"
              [suffix]="suffixLabel"
              widthClass="govuk-input--width-20"
            ></div>
          </fieldset>
          <fieldset
            id="measurementCO2Emissions"
            govukFieldset
            formGroupName="measurementCO2Emissions"
            class="govuk-!-margin-bottom-9"
          >
            <legend size="medium" govukLegend>Measurement of CO2 emissions</legend>
            <div
              formControlName="reportableEmissions"
              govuk-text-input
              [label]="emissionsLabel"
              [suffix]="suffixLabel"
              widthClass="govuk-input--width-20"
            ></div>
            <div
              formControlName="sustainableBiomass"
              govuk-text-input
              [label]="biomassLabel"
              [suffix]="suffixLabel"
              widthClass="govuk-input--width-20"
            ></div>
          </fieldset>
          <fieldset
            id="measurementTransferredCO2Emissions"
            govukFieldset
            formGroupName="measurementTransferredCO2Emissions"
            class="govuk-!-margin-bottom-9"
          >
            <legend size="medium" govukLegend>Measurement of transferred CO2 emissions</legend>
            <div
              formControlName="reportableEmissions"
              govuk-text-input
              [label]="emissionsLabel"
              [suffix]="suffixLabel"
              widthClass="govuk-input--width-20"
            ></div>
            <div
              formControlName="sustainableBiomass"
              govuk-text-input
              [label]="biomassLabel"
              [suffix]="suffixLabel"
              widthClass="govuk-input--width-20"
            ></div>
          </fieldset>
          <fieldset
            id="measurementN2OEmissions"
            govukFieldset
            formGroupName="measurementN2OEmissions"
            class="govuk-!-margin-bottom-9"
          >
            <legend size="medium" govukLegend>Measurement of N2O emissions</legend>
            <div
              formControlName="reportableEmissions"
              govuk-text-input
              [label]="emissionsLabel"
              [suffix]="suffixLabel"
              widthClass="govuk-input--width-20"
            ></div>
            <div
              formControlName="sustainableBiomass"
              govuk-text-input
              [label]="biomassLabel"
              [suffix]="suffixLabel"
              widthClass="govuk-input--width-20"
            ></div>
          </fieldset>
          <fieldset
            id="measurementTransferredN2OEmissions"
            govukFieldset
            formGroupName="measurementTransferredN2OEmissions"
            class="govuk-!-margin-bottom-9"
          >
            <legend size="medium" govukLegend>Measurement of transferred N2O emissions</legend>
            <div
              formControlName="reportableEmissions"
              govuk-text-input
              [label]="emissionsLabel"
              [suffix]="suffixLabel"
              widthClass="govuk-input--width-20"
            ></div>
            <div
              formControlName="sustainableBiomass"
              govuk-text-input
              [label]="biomassLabel"
              [suffix]="suffixLabel"
              widthClass="govuk-input--width-20"
            ></div>
          </fieldset>
          <fieldset
            id="calculationPFCEmissions"
            govukFieldset
            formGroupName="calculationPFCEmissions"
            class="govuk-!-margin-bottom-9"
          >
            <legend size="medium" govukLegend>Calculation of PFC emissions</legend>
            <div
              formControlName="reportableEmissions"
              govuk-text-input
              [label]="pfcEmissionsLabel"
              [suffix]="suffixLabel"
              widthClass="govuk-input--width-20"
            ></div>
          </fieldset>
          <fieldset
            id="inherentCO2Emissions"
            govukFieldset
            formGroupName="inherentCO2Emissions"
            class="govuk-!-margin-bottom-9"
          >
            <legend size="medium" govukLegend>Inherent CO2 emissions</legend>
            <div
              formControlName="reportableEmissions"
              govuk-text-input
              [label]="emissionsLabel"
              [suffix]="suffixLabel"
              widthClass="govuk-input--width-20"
            ></div>
          </fieldset>
          <fieldset
            id="fallbackEmissions"
            govukFieldset
            formGroupName="fallbackEmissions"
            class="govuk-!-margin-bottom-9"
          >
            <legend size="medium" govukLegend>Fall-back emissions</legend>
            <div
              formControlName="reportableEmissions"
              govuk-text-input
              [label]="emissionsLabel"
              [suffix]="suffixLabel"
              widthClass="govuk-input--width-20"
            ></div>
            <div
              formControlName="sustainableBiomass"
              govuk-text-input
              [label]="biomassLabel"
              [suffix]="suffixLabel"
              widthClass="govuk-input--width-20"
            ></div>
          </fieldset>
          <h2 class="govuk-heading-m">Calculated emissions</h2>
          <p class="govuk-body">Reportable emissions: {{ totalEmissions$ | async }} tonnes CO2e</p>
          <p class="govuk-body">Sustainable biomass: {{ totalBiomass$ | async }} tonnes CO2e</p>
        </ng-container>
      </govuk-radio-option>
    </div>
  </app-wizard-step>
</app-aer-task-review>
