<app-procedure-form-step [form]="form" (submitForm)="onContinue()">
  <div procedureFormPageHeader>
    <app-page-heading caption="Method A" size="l"> Monitoring fuel consumption per flight </app-page-heading>
    
    <p class="govuk-body">Describe how you monitor fuel consumption per flight in owned and leased-in aircraft.</p>
    <p class="govuk-body">You should include:</p>

    <ul class="govuk-body">
      <li>the exact time when the fuel in tank measurements are taken</li>
      <li>a description of the measurement equipment</li>
      <li>the procedures for recording, retrieving, transmitting and storing information</li>
      <li>how fuel uplift is determined</li>
    </ul>

    <govuk-details summary="Method A formula: FN = TN - TN+1 + UN+1">
      <p class="govuk-!-padding-left-3 govuk-!-padding-bottom-3">
        FN = fuel consumed for the flight under consideration (flight = N) determined using Method A (in tonnes)
      </p>

      <p class="govuk-!-padding-left-3 govuk-!-padding-bottom-3">
        TN = amount of fuel contained in aeroplane tanks once fuel uplifts for the flight under consideration (flight N)
        are complete (in tonnes)
      </p>

      <p class="govuk-!-padding-left-3 govuk-!-padding-bottom-3">
        TN+1 = amount of fuel contained in aeroplane tanks once fuel uplifts for the subsequent flight (flight N+1) are
        complete (in tonnes)
      </p>

      <p class="govuk-!-padding-left-3 govuk-!-padding-bottom-3">
        UN+1 = sum of fuel uplifts for the subsequent flight (flight N+1) measured in volume and multiplied with a
        density value (in tonnes)
      </p>

      <p class="govuk-!-padding-left-3 govuk-!-padding-bottom-3">
        Fuel uplift UN+1 is determined by the measurement by the fuel supplier, as documented in the fuel delivery notes
        or invoices for each flight.
      </p>
    </govuk-details>
  </div>
</app-procedure-form-step>
