<ng-container
  *ngIf="
    ('MEASUREMENT_CO2' | monitoringApproachTask | async).emissionPointCategoryAppliedTiers[index$ | async] as tier
  ">
  <app-permit-task
    [breadcrumb]="[
      {
        text: 'MEASUREMENT_CO2' | monitoringApproachDescription,
        link: ['measurement'],
      },
      {
        text: tier | emissionPointCategoryName | async,
        link: ['measurement', 'category-tier', index$ | async],
      },
    ]">
    <app-page-heading
      caption="{{ 'MEASUREMENT_CO2' | monitoringApproachDescription }}, {{ tier | emissionPointCategoryName | async }}">
      Check your answers
    </app-page-heading>
    <app-measurement-category-tier-subtasks-summary-template></app-measurement-category-tier-subtasks-summary-template>
    <div *ngIf="(store.isEditable$ | async) === true" class="govuk-button-group">
      <button appPendingButton govukButton type="button" (click)="onConfirm()">Confirm and complete</button>
    </div>
    <a govukLink routerLink="../..">Return to: {{ tier | emissionPointCategoryName | async }}</a>
  </app-permit-task>
</ng-container>
