<ng-container *ngIf="vm() as vm">
  <app-base-task-container-component
    [header]="vm.pageTitle"
    [customContentTemplate]="vm.isWaitTask ? waitContentTemplate : taskContentTemplate"
    [expectedTaskType]="vm.requestTaskType"
    [notification]="vm.notification"
    [daysRemaining]="vm.daysRemaining"></app-base-task-container-component>

  <ng-template #waitContentTemplate>
    <govuk-warning-text>{{ vm.warningText }}</govuk-warning-text>
  </ng-template>

  <ng-template #taskContentTemplate>
    <ng-container *ngTemplateOutlet="buttonsTemplate"></ng-container>

    <ng-container *ngIf="vm.isAmendsSubmitted">
      <h2 class="govuk-heading-m govuk-!-margin-0">Regulator comments</h2>
      <ul app-task-item-list>
        <li
          app-task-item
          link="changes-requested"
          linkText="Changes requested by the regulator"
          [status]="vm.changesRequestedSectionStatus"></li>
      </ul>
    </ng-container>

    <h2 class="govuk-heading-m">Details</h2>

    <ul app-task-item-list>
      <li app-task-item [link]="'./qdr'" linkText="Quarterly data report" [status]="vm.detailsSectionStatus"></li>
    </ul>

    @if (vm.isSubmitRequestTask) {
      <h2 class="govuk-heading-m">Send report</h2>

      <ul app-task-item-list>
        <li
          app-task-item
          [link]="vm.sectionsCompleted ? vm.redirectSendReportLink : null"
          linkText="Send to regulator"
          [status]="vm.sendReportSectionStatus"></li>
      </ul>
    }
  </ng-template>

  <ng-template #buttonsTemplate>
    <div class="govuk-button-group">
      <button
        *ngIf="vm.allowCompleteReview"
        (click)="completeReview()"
        govukButton
        title="Complete report"
        type="button">
        Complete report
      </button>

      <button
        *ngIf="vm.allowReturnForAmends"
        (click)="sendReturnForAmends()"
        govukButton
        title="Return for amendments"
        type="button">
        Return for amendments
      </button>
    </div>
  </ng-template>
</ng-container>
