<div *ngIf="vm$ | async as vm" class="govuk-!-width-two-thirds">
  <app-page-heading>Check your answers</app-page-heading>

  <ng-container *ngIf="vm.isCorsia">
    <p class="govuk-body">
      You have conducted a verification of the greenhouse gas data reported by this operator in its annual emissions
      report.
    </p>
    <ng-container [ngSwitch]="vm.data.type">
      <ng-container *ngSwitchCase="'VERIFIED_AS_SATISFACTORY'">
        <p class="govuk-body">On the basis of your verification work these data are fairly stated.</p>
      </ng-container>
      <ng-container *ngSwitchCase="'VERIFIED_AS_SATISFACTORY_WITH_COMMENTS'">
        <p class="govuk-body">
          On the basis of your verification work these data are fairly stated, with the exception of the following
          reasons.
        </p>
      </ng-container>
      <ng-container *ngSwitchCase="'NOT_VERIFIED'">
        <p class="govuk-body">
          On the basis of your verification work these data cannot be verified due to the following reasons.
        </p>
      </ng-container>
    </ng-container>
  </ng-container>

  <h2 class="govuk-heading-m">Details</h2>
  <app-aviation-overall-decision-group
    [isEditable]="vm.isEditable"
    [overallAssessment]="vm.data"
    [isCorsia]="vm.isCorsia"
  ></app-aviation-overall-decision-group>

  <div *ngIf="!vm.hideSubmit" class="govuk-button-group">
    <button appPendingButton govukButton type="button" (click)="onConfirm()">Confirm and complete</button>
  </div>

  <app-aviation-aer-verification-review-decision-group
    *ngIf="vm.showDecision"
    taskKey="overallDecision"
  ></app-aviation-aer-verification-review-decision-group>

  <div>
    <app-return-to-link></app-return-to-link>
  </div>
</div>
