<app-aer-task>
  @if (form$ | async; as form) {
    <app-wizard-step
      (formSubmit)="onContinue()"
      [formGroup]="form"
      heading="Calculate the activity data for this source stream"
      [hideSubmit]="(isEditable$ | async) === false">
      @if (isSm3()) {
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Measurement units applied</h2>
        <div class="govuk-body">Standard cubic metres (Sm3) at 15°C (metering conditions)</div>
      } @else {
        <div
          [options]="measurementUnits"
          formControlName="measurementUnit"
          govuk-select
          label="Measurement units applied"
          inputType="number"></div>
      }

      <div
        formControlName="totalMaterial"
        govuk-text-input
        label="Total fuel or material used"
        widthClass="govuk-!-width-two-thirds"></div>
    </app-wizard-step>
    <a govukLink routerLink="../..">Return to: {{ 'CALCULATION_CO2' | monitoringApproachEmissionDescription }}</a>
  }
</app-aer-task>
