<app-wizard-step
  (formSubmit)="onSubmit()"
  [formGroup]="form"
  submitText="Continue"
  [hideSubmit]="!vm.isEditable"
  [heading]="vm.pageHeader"
  *ngIf="vm$ | async as vm"
>
  <div formControlName="type" govuk-radio>
    <govuk-radio-option
      [label]="'VERIFIED_AS_SATISFACTORY' | verificationDecisionType: vm.isCorsia"
      [value]="'VERIFIED_AS_SATISFACTORY'"
    ></govuk-radio-option>
    <govuk-radio-option
      [label]="'VERIFIED_AS_SATISFACTORY_WITH_COMMENTS' | verificationDecisionType: vm.isCorsia"
      [value]="'VERIFIED_AS_SATISFACTORY_WITH_COMMENTS'"
    ></govuk-radio-option>
    <govuk-radio-option
      [label]="'NOT_VERIFIED' | verificationDecisionType: vm.isCorsia"
      [value]="'NOT_VERIFIED'"
    ></govuk-radio-option>
  </div>
</app-wizard-step>
<app-return-to-link></app-return-to-link>
