<app-base-action-container-component
  [header]="requestActionType$ | async | itemActionType"
  [customContentTemplate]="customContentTemplate"
  [expectedActionType]="['DOAL_APPLICATION_PROCEEDED_TO_AUTHORITY', 'DOAL_APPLICATION_CLOSED']"
>
</app-base-action-container-component>

<ng-template #customContentTemplate>
  <ol class="app-task-list">
    <li app-task-section title="Upload activity level documentation">
      <ul app-task-item-list>
        <li
          app-task-item
          [link]="(requestActionPayload$ | async).doal.operatorActivityLevelReport ? './operator-report' : null"
          linkText="Upload operator activity level report"
        ></li>
        <li
          app-task-item
          [link]="
            (requestActionPayload$ | async).doal.verificationReportOfTheActivityLevelReport
              ? './verification-report'
              : null
          "
          linkText="Upload verification report of the activity level report"
        ></li>
        <li
          app-task-item
          [link]="(requestActionPayload$ | async).doal.additionalDocuments ? './additional-documents' : null"
          linkText="Upload additional documents"
        ></li>
      </ul>
    </li>
    <li app-task-section title="Provide your determination">
      <ul app-task-item-list>
        <li
          app-task-item
          [link]="(requestActionPayload$ | async).doal.activityLevelChangeInformation ? './alc-information' : null"
          linkText="Provide information about this activity level change"
        ></li>
        <li app-task-item link="./determination" linkText="Provide determination of activity level"></li>
      </ul>
    </li>
  </ol>
</ng-template>
