<govuk-table [columns]="columns" [data]="data()" [class.no-bottom-border]="noBottomBorder()">
  <ng-template let-column="column" let-row="row">
    @switch (column.field) { @case ('reference') {
    {{ row.reference }}
    } @case ('type') {
    {{ row.type === 'OTHER' ? row.otherTypeName : (row.type | measurementDevicesType) }}
    } @case ('measurementRange') {
    {{ row.measurementRange }}
    } @case ('meteringRangeUnits') {
    {{ row.meteringRangeUnits }}
    } @case ('specifiedUncertaintyPercentage') {
    {{ row?.specifiedUncertaintyPercentage ? '&#177; ' + row.specifiedUncertaintyPercentage + ' %' : 'None' }}
    } @case ('location') {
    {{ row.location }}
    } @case ('change') { @if (isEditable() === true) {
    <a [routerLink]="row.id" govukLink>Change</a>
    } } @case ('delete') { @if (isEditable() === true) {
    <a [routerLink]="['delete', row.id]" govukLink>Delete</a>
    } } }
  </ng-template>
</govuk-table>
