<app-request-action-task
  *ngIf="vm$ | async as vm"
  [header]="vm.pageHeader"
  [requestActionType]="vm.requestActionType"
  [breadcrumb]="true"
>
  <ng-template #contentTpl let-showOriginal>
    <app-emissions-reduction-claim-summary-template
      [data]="showOriginal ? vm.originalData : vm.data"
    ></app-emissions-reduction-claim-summary-template>
  </ng-template>

  <app-highlight-diff *ngIf="vm.showDiff">
    <ng-container slot="previous" *ngTemplateOutlet="contentTpl; context: { $implicit: true }"></ng-container>
    <ng-container slot="current" *ngTemplateOutlet="contentTpl; context: { $implicit: false }"></ng-container>
  </app-highlight-diff>
  <ng-container
    *ngIf="vm.showDiff === false"
    [ngTemplateOutlet]="contentTpl"
    [ngTemplateOutletContext]="{ $implicit: false }"
  ></ng-container>

  <app-emp-review-decision-group-summary
    *ngIf="vm.showDecision"
    [data]="vm.reviewDecision"
    [attachments]="vm.reviewAttachments"
    [downloadBaseUrl]="vm.downloadBaseUrl"
  ></app-emp-review-decision-group-summary>

  <app-emp-variation-review-decision-group-summary
    *ngIf="vm.showVariationDecision"
    [data]="vm.variationDecision"
    [attachments]="vm.reviewAttachments"
    [downloadBaseUrl]="vm.downloadBaseUrl"
  ></app-emp-variation-review-decision-group-summary>

  <ng-container *ngIf="vm.showVariationRegLedDecision">
    <h2 class="govuk-heading-m">List changes to include in the variation schedule</h2>
    <app-emp-variation-regulator-led-decision-group-summary
      [data]="vm.variationRegLedDecision"
    ></app-emp-variation-regulator-led-decision-group-summary>
  </ng-container>
</app-request-action-task>
