<div class="govuk-grid-row">
  <div [class]="(isRelatedActionsSectionVisible$ | async) ? 'govuk-grid-column-two-thirds' : 'govuk-grid-column-full'">
    <govuk-notification-banner *ngIf="isTaskTypeAmendsSubmit$ | async" type="neutral">
      <h1 class="govuk-notification-banner__heading">The regulator has requested amends to your application.</h1>
      <a [routerLink]="[]" (click)="viewAmends()" govukLink class="govuk-notification-banner__link"
        >View all required amends</a
      >
    </govuk-notification-banner>
    <app-page-heading size="xl">
      {{ header$ | async }}
      <app-task-header-info
        *ngIf="isTask$ | async"
        [assignee]="(store.select('assignee') | async).assigneeFullName"
        [daysRemaining]="store.select('daysRemaining') | async"
      ></app-task-header-info>
    </app-page-heading>

    <app-task-list
      [hideSubmit]="
        (store.select('isEditable') | async) === false || (permitType$ | async) === undefined || isOperatorLed
      "
      (submitApplication)="onSubmit()"
      [submitLabel]="(isTaskTypeAmendsSubmit$ | async) ? 'Resubmit' : 'Submit'"
      [hideCancel]="true"
    >
      <ng-container *ngIf="isOperatorLed">
        <li app-task-section title="Variation">
          <ul app-task-item-list>
            <li
              *ngIf="(isTaskTypeAmendsSubmit$ | async) && (aboutVariationAmendNeeded$ | async)"
              app-task-item
              [link]="'./amend/about-variation/summary'"
              linkText="Amends needed for about the variation"
              [status]="aboutVariationAmendStatus$ | async"
            ></li>
            <li
              app-task-item
              [link]="'./about/summary'"
              linkText="About the variation"
              [status]="aboutVariationStatus$ | async"
            ></li>
          </ul>
        </li>
      </ng-container>
      <app-sections></app-sections>
      <li app-task-section title="Submit" *ngIf="isOperatorLed">
        <ul app-task-item-list>
          <li
            app-task-item
            [link]="(isVariationSubmissionStatusCannotStartedYetOrComplete$ | async) ? '' : './summary'"
            linkText="Send to the regulator"
            [status]="variationSubmissionStatus$ | async"
          ></li>
        </ul>
      </li>
    </app-task-list>

    <ng-container *ngIf="relatedTasks$ | async as relatedTasks">
      <app-related-tasks *ngIf="relatedTasks.length > 0" [items]="relatedTasks"></app-related-tasks>
    </ng-container>

    <ng-container *ngIf="requestActions$ | async as requestActions">
      <app-timeline *ngIf="requestActions.length > 0">
        <app-timeline-item
          *ngFor="let action of requestActions"
          [action]="action"
          [link]="action | timelineItemLink"
          [state]="navigationState"
        ></app-timeline-item>
      </app-timeline>
    </ng-container>
  </div>
  <div *ngIf="isRelatedActionsSectionVisible$ | async" class="govuk-grid-column-one-third">
    <app-related-actions
      [isAssignable$]="store.isAssignableAndCapable$"
      [taskId$]="taskId$"
      [allowedActions$]="store.select('allowedRequestTaskActions')"
    ></app-related-actions>
  </div>
</div>
