<app-vir-task heading="Check your answers" returnToLink="../..">
  <app-verification-recommendation-item [verificationDataItem]="verificationDataItem">
  </app-verification-recommendation-item>
  <app-operator-response-item
    [reference]="reference"
    [operatorImprovementResponse]="operatorImprovementResponse$ | async"
    [attachedFiles]="documentFiles$ | async"
    [isEditable]="false"
    [isReview]="true">
  </app-operator-response-item>
  <app-regulator-response-item
    [isEditable]="isEditable$ | async"
    [reference]="reference"
    [regulatorImprovementResponse]="regulatorImprovementResponse$ | async">
  </app-regulator-response-item>
  <div *ngIf="(isEditable$ | async) === true" class="govuk-button-group">
    <button appPendingButton govukButton type="button" (click)="onConfirm()">Confirm and complete</button>
  </div>
</app-vir-task>
