<app-non-compliance-task [breadcrumb]="true">
  <app-wizard-step
    (formSubmit)="onSubmit()"
    [formGroup]="form"
    heading="Choose task or workflow (optional)"
    submitText="Save and Continue"
    [showBackLink]="true"
  >
    <div class="govuk-hint">Select the relevant item to which this non-compliance applies.</div>

    <ng-container *ngIf="requests?.length > 0">
      <app-choose-workflow-summary-template
        [editable]="nonComplianceService.isEditable$ | async"
        [data]="requests"
        [baseChangeLink]="'./'"
      ></app-choose-workflow-summary-template>
    </ng-container>

    <ng-container>
      <div *ngIf="nonComplianceService.isEditable$ | async">
        <div class="govuk-button-group">
          <a routerLink="./add" govukSecondaryButton type="button" [state]="{ changing: true }"> Add an item </a>
        </div>
      </div>
    </ng-container>
  </app-wizard-step>

  <div *ngIf="(currentDomain$ | async) === 'INSTALLATION'; else aviation">
    <a govukLink routerLink="..">Return to: non compliance task</a>
  </div>
  <ng-template #aviation>
    <app-return-to-link></app-return-to-link>
  </ng-template>
</app-non-compliance-task>
