<app-inspection-task *ngIf="vm() as vm" heading="Check your answers" returnToLink="../">
  <h2 class="govuk-heading-m">Regulator’s comment</h2>
  <app-follow-up-item
    [followUpAction]="vm.followUpAction"
    [isEditable]="false"
    [index]="vm.actionId"
    [files]="vm.attachments"
    [hideHeading]="true"></app-follow-up-item>

  <h2 class="govuk-heading-m">Action summary</h2>

  <dl govuk-summary-list [hasBorders]="true">
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Completed action?</dt>
      <dd govukSummaryListRowValue>{{ vm.followupActionsResponses.completed ? 'Yes' : 'No' }}</dd>
      <dd govukSummaryListRowActions *ngIf="vm.isEditable">
        <a govukLink [routerLink]="['./', 'follow-up-action']">Change</a>
      </dd>
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>
        @if (vm.followupActionsResponses.completed) {
          Progress update
        } @else {
          Why you didn’t completed the action
        }
      </dt>
      <dd govukSummaryListRowValue class="pre-wrap">{{ vm.followupActionsResponses.explanation }}</dd>
      <dd govukSummaryListRowActions *ngIf="vm.isEditable">
        <a govukLink [routerLink]="['./', 'follow-up-action']">Change</a>
      </dd>
    </div>
    <div govukSummaryListRow *ngIf="vm.followupActionsResponses.completionDate">
      <dt govukSummaryListRowKey>Date action was completed</dt>
      <dd govukSummaryListRowValue>{{ vm.followupActionsResponses.completionDate | govukDate }}</dd>
      <dd govukSummaryListRowActions *ngIf="vm.isEditable">
        <a govukLink [routerLink]="['./', 'follow-up-action']">Change</a>
      </dd>
    </div>
    <div govukSummaryListRow *ngIf="vm.responseAttachments.length > 0">
      <dt govukSummaryListRowKey>Uploaded files</dt>
      <dd govukSummaryListRowValue>
        <app-summary-download-files [files]="vm.responseAttachments"></app-summary-download-files>
      </dd>
      <dd govukSummaryListRowActions *ngIf="vm.isEditable">
        <a govukLink [routerLink]="['./', 'follow-up-action']">Change</a>
      </dd>
    </div>
  </dl>

  <div *ngIf="vm.showConfirmButton">
    <button
      appPendingButton
      govukButton
      id="confirmBtn"
      type="button"
      (click)="onConfirm()"
      routerLinkActive="router-link-active">
      Confirm and continue
    </button>
  </div>
</app-inspection-task>
