<div class="govuk-body govuk-!-width-two-thirds">
  <h2 class="govuk-heading-m">Other changes not covered in the approved emissions monitoring plans</h2>

  <dl govuk-summary-list>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Changes reported by the operator</dt>
      <dd govukSummaryListRowValue>
        {{ !!aerMonitoringPlanChanges.notCoveredChangesExist ? aerMonitoringPlanChanges?.details : 'None' }}
      </dd>
    </div>
  </dl>

  <dl govuk-summary-list>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Changes reported by the verifier</dt>
      <dd govukSummaryListRowValue>
        {{ additionalChangesNotCovered ? additionalChangesNotCoveredDetails : 'None' }}
      </dd>

      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="['../changes-not-covered']" [queryParams]="queryParams">Change</a>
      </dd>
    </div>
  </dl>
</div>
