<ng-container *ngIf="nonDomesticFlightsTotalEmissions$ | async as emissions">
  <p class="govuk-body govuk-!-width-two-thirds">Total non-domestic emissions: {{ emissions.totalEmissions }} tCO2</p>
  <div class="overflow-auto overflow-auto-table">
    <ng-container *ngIf="pageItems$ | async as paginatedItems">
      <govuk-table *ngIf="paginatedItems?.length" [columns]="columns" [data]="paginatedItems">
        <ng-template let-column="column" let-index="index" let-row="row">
          <div [ngSwitch]="column.field" class="cell-container">
            <ng-container *ngSwitchCase="'departureCountry'">
              <span data-testid="at-departure-country">
                {{ row.departureCountry }}
              </span>
            </ng-container>
            <ng-container *ngSwitchCase="'arrivalCountry'">
              <span data-testid="at-arrival-country">
                {{ row.arrivalCountry }}
              </span>
            </ng-container>
            <ng-container *ngSwitchCase="'flightsNumber'">
              <div class="amount" data-testid="at-flights-number">
                {{ row.flightsNumber }}
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'fuelType'">
              <div data-testid="at-fuel-type">
                {{ getSummaryDescription(row.fuelType) }}
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'fuelConsumption'">
              <div class="amount" data-testid="at-fuel-consumption">
                {{ row.fuelConsumption }}
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="'emissions'">
              <div class="amount" data-testid="at-emissions">
                {{ row.emissions }}
              </div>
            </ng-container>
            <ng-container *ngSwitchDefault>{{ row[column.field] }}</ng-container>
          </div>
        </ng-template>
      </govuk-table>
    </ng-container>
    <app-pagination
      [count]="totalNumOfItems$ | async"
      (currentPageChange)="currentPage$.next($event)"
      [pageSize]="showAllData ? (totalNumOfItems$ | async) : pageSize"
    ></app-pagination>
  </div>
</ng-container>
