<app-aer-task>
  <app-wizard-step
    (formSubmit)="onSubmit()"
    [formGroup]="form"
    [caption]="caption$ | async | regulatedActivityType"
    heading="Select a waste CRF code for this regulated activity"
    submitText="Continue"
    [hideSubmit]="(aerService.isEditable$ | async) === false">
    <div formControlName="wasteCrfCategory" govuk-radio>
      <govuk-radio-option [label]="'_5_A' | i18nSelect: activityItemNameMap" value="_5_A">
        <ng-container govukConditionalContent>
          <div formControlName="wasteCrf" govuk-radio>
            <govuk-radio-option
              value="_5_A_1_A_SOLID_WASTE_DISPOSAL_TO_LAND"
              [label]="'_5_A_1_A' | i18nSelect: activityItemNameMap"></govuk-radio-option>
          </div>
        </ng-container>
      </govuk-radio-option>
      <govuk-radio-option [label]="'_5_B' | i18nSelect: activityItemNameMap" value="_5_B">
        <ng-container govukConditionalContent>
          <div formControlName="wasteCrf" govuk-radio>
            <govuk-radio-option
              value="_5_B_1_A_MUNICIPAL_SOLID_WASTE_COMPOSTING"
              [label]="'_5_B_1_A' | i18nSelect: activityItemNameMap"></govuk-radio-option>
            <govuk-radio-option
              value="_5_B_2_A_MUNICIPAL_SOLID_WASTE_ANAEROBIC_DIGESTION_AT_BIOGAS_FACILITIES"
              [label]="'_5_B_2_A' | i18nSelect: activityItemNameMap"></govuk-radio-option>
          </div>
        </ng-container>
      </govuk-radio-option>
      <govuk-radio-option [label]="'_5_C' | i18nSelect: activityItemNameMap" value="_5_C">
        <ng-container govukConditionalContent>
          <div formControlName="wasteCrf" govuk-radio>
            <govuk-radio-option
              value="_5_C_1_1_B_INCINERATION_SEWAGE_SLUDGE"
              [label]="'_5_C_1_1_B' | i18nSelect: activityItemNameMap"></govuk-radio-option>
            <govuk-radio-option
              value="_5_C_1_2_A_INCINERATION_MUNICIPAL_SOLID_WASTE"
              [label]="'_5_C_1_2_A' | i18nSelect: activityItemNameMap"></govuk-radio-option>
            <govuk-radio-option
              value="_5_C_1_2_B_INCINERATION_CLINICAL_WASTE"
              [label]="'_5_C_1_2_B' | i18nSelect: activityItemNameMap"></govuk-radio-option>
            <govuk-radio-option
              value="_5_C_2_1_B_OPEN_BURNING_OTHER_BIOGENIC_WASTE"
              [label]="'_5_C_2_1_B' | i18nSelect: activityItemNameMap"></govuk-radio-option>
            <govuk-radio-option
              value="_5_C_2_2_B_OPEN_BURNING_ACCIDENTAL_BUILDING_AND_VEHICLE_FIRES"
              [label]="'_5_C_2_2_B' | i18nSelect: activityItemNameMap"></govuk-radio-option>
          </div>
        </ng-container>
      </govuk-radio-option>
      <govuk-radio-option [label]="'_5_D' | i18nSelect: activityItemNameMap" value="_5_D">
        <ng-container govukConditionalContent>
          <div formControlName="wasteCrf" govuk-radio>
            <govuk-radio-option
              value="_5_D_1_DOMESTIC"
              [label]="'_5_D_1' | i18nSelect: activityItemNameMap"></govuk-radio-option>
            <govuk-radio-option
              value="_5_D_2_INDUSTRIAL"
              [label]="'_5_D_2' | i18nSelect: activityItemNameMap"></govuk-radio-option>
          </div>
        </ng-container>
      </govuk-radio-option>
    </div>
  </app-wizard-step>
  <a govukLink routerLink="../..">Return to: Regulated activities</a>
</app-aer-task>
