<app-permit-task
  reviewGroupTitle="Monitoring methodology"
  reviewGroupUrl="monitoring-methodology-plan"
  [breadcrumb]="true"
>
  <app-wizard-step
    (formSubmit)="onContinue()"
    [formGroup]="form"
    caption="Monitoring Methodology Plan"
    heading="Are you providing a Monitoring Methodology Plan as part of your permit application?"
    submitText="Save and continue"
    [hideSubmit]="(store.isEditable$ | async) === false"
  >
    <div formControlName="exist" govuk-radio legendSize="medium">
      <govuk-radio-option [value]="true" label="Yes"></govuk-radio-option>
      <govuk-radio-option [value]="false" label="No"> </govuk-radio-option>
    </div>
  </app-wizard-step>

  <app-list-return-link
    reviewGroupTitle="Monitoring Methodology Plan"
    reviewGroupUrl="monitoring-methodology-plan"
  ></app-list-return-link>
</app-permit-task>
