<ng-container *ngIf="verifierComments">
  <govuk-table [columns]="columns" [data]="verifierComments" [class.no-bottom-border]="false">
    <ng-template let-column="column" let-index="index" let-row="row">
      <ng-container [ngSwitch]="column.field">
        <ng-container *ngSwitchCase="'reference'">{{ row.reference }}</ng-container>

        <ng-container *ngSwitchCase="'explanation'">
          <div class="pre-wrap">
            {{ row.explanation }}
          </div>
        </ng-container>

        <ng-container *ngIf="isEditable">
          <ng-container *ngSwitchCase="'change'">
            <a [routerLink]="[baseUrl, index]" govukLink [queryParams]="queryParams">Change</a>
          </ng-container>
          <ng-container *ngSwitchCase="'delete'">
            <a [routerLink]="[baseUrl, index, 'delete']" govukLink [queryParams]="queryParams">Remove</a>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-template>
  </govuk-table>
  <div class="govuk-button-group" *ngIf="isEditable">
    <button
      govukSecondaryButton
      [routerLink]="[baseUrl, verifierComments?.length ?? 0]"
      type="button"
      [queryParams]="queryParams"
    >
      Add another item
    </button>
  </div>
</ng-container>
