<div formControlName="procedureDescription" govuk-textarea label="Procedure description" [maxLength]="10000"></div>
<div formControlName="procedureDocumentName" govuk-text-input label="Name of the procedure document"></div>
<div formControlName="procedureReference" govuk-text-input label="Procedure reference"></div>
<div
  formControlName="responsibleDepartmentOrRole"
  govuk-text-input
  label="Department or role responsible for data maintenance"
></div>
<div
  formControlName="locationOfRecords"
  govuk-text-input
  label="Location of records"
  hint="Usually a physical location where records are kept"
></div>
<div formControlName="itSystemUsed" govuk-text-input label="IT system used (optional)"></div>
