<form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
  <govuk-error-summary *ngIf="isSummaryDisplayedSubject | async" [form]="formGroup"></govuk-error-summary>

  <app-page-heading *ngIf="heading" [caption]="caption">{{ heading }}</app-page-heading>

  <ng-content></ng-content>
  <div class="govuk-button-group">
    <button appPendingButton govukButton type="submit" *ngIf="!hideSubmit">{{ submitText }}</button>
    @if (cancelLink) {
      <a [routerLink]="cancelLink" govukLink>Cancel</a>
    }
  </div>
</form>
