<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <app-page-heading>Details of penalty notice</app-page-heading>
    <h2 class="govuk-heading-m">Details</h2>
    <ng-container *ngIf="payload$ | async as payload">
      <dl govuk-summary-list *ngIf="payload.comments">
        <div govukSummaryListRow>
          <dt govukSummaryListRowKey>Comments</dt>
          <dd govukSummaryListRowValue class="pre-wrap">
            {{ payload.comments }}
          </dd>
        </div>
      </dl>
      <dl govuk-summary-list>
        <div govukSummaryListRow *ngIf="payload?.civilPenalty">
          <dt govukSummaryListRowKey>Uploaded document</dt>
          <dd govukSummaryListRowValue>
            <app-summary-download-files [files]="documentFiles$ | async"> </app-summary-download-files>
          </dd>
        </div>
      </dl>
    </ng-container>
    <ng-container *ngIf="notificationUsers$ | async as notificationUsers">
      <h2 app-summary-header class="govuk-heading-m">Recipients</h2>
      <dl govuk-summary-list appGroupedSummaryList class="govuk-!-margin-bottom-6">
        <div govukSummaryListRow>
          <dt govukSummaryListRowKey>Users</dt>
          <dd govukSummaryListRowValue>
            <div *ngFor="let user of notificationUsers">
              {{ user }}
            </div>
          </dd>
        </div>
      </dl>
    </ng-container>
    <a govukLink [routerLink]="(isAviation$ | async) ? '../..' : '../../../..'">Return to: Non-compliance</a>
  </div>
</div>
