<div class="govuk-grid-row" *ngIf="vm$ | async as vm">
  <div class="govuk-grid-column-two-thirds" *ngIf="vm.hasLocation; else contactAddressNotification">
    <app-notify-operator
      [taskId]="vm.taskId"
      [accountId]="vm.accountId"
      confirmationMessage="Aviation emissions updated"
      requestTaskActionType="AVIATION_DRE_UKETS_SUBMIT_NOTIFY_OPERATOR"
      [isRegistryToBeNotified]="isForSubmission$ | async"
      [referenceCode]="vm.referenceCode"
    ></app-notify-operator>
  </div>

  <ng-template #contactAddressNotification>
    <div class="govuk-grid-column-two-thirds">
      <app-page-heading>You must add a contact address for the aviation operator</app-page-heading>
      <p class="govuk-body">
        You must <a [routerLink]="['/aviation/accounts', vm.accountId]">add a contact address</a> for the aviation
        operator before you can issue the notice.
      </p>
    </div>
  </ng-template>
</div>
