<app-procedure-form-step [form]="form" (submitForm)="onSubmit()">
  <div procedureFormPageHeader>
    <app-page-heading>Assignment of responsibilities</app-page-heading>
    <p class="govuk-body">
      Describe how your company assigns monitoring and reporting responsibilities. Include how roles are assigned, how
      training and reviews are carried out and how duties are split so that data is confirmed by someone independent of
      the data collection.
    </p>
  </div>
</app-procedure-form-step>
