<dl govuk-summary-list [hasBorders]="true">
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Scheme year</dt>
    <dd govukSummaryListRowValue>{{ annualOffsetting.schemeYear }}</dd>
    <dd govukSummaryListRowActions *ngIf="isEditable"></dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Total Chapter 3 State Emissions (tCO2)</dt>
    <dd govukSummaryListRowValue>{{ annualOffsetting.totalChapter }}</dd>
    <dd govukSummaryListRowActions *ngIf="isEditable">
      <a govukLink [routerLink]="['..']" [queryParams]="{ change: true }"> Change </a>
    </dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Sector Growth Value</dt>
    <dd govukSummaryListRowValue class="govuk-hint">{{ annualOffsetting.sectorGrowth }}%</dd>
    <dd govukSummaryListRowActions *ngIf="isEditable">
      <a govukLink [routerLink]="['..']" [queryParams]="{ change: true }"> Change </a>
    </dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Calculated Annual Offsetting Requirements</dt>
    <dd govukSummaryListRowValue class="govuk-hint">{{ annualOffsetting.calculatedAnnualOffsetting }}</dd>
    <dd govukSummaryListRowActions *ngIf="isEditable"></dd>
  </div>
</dl>
