@if (requestTaskType(); as requestTaskType) {
  @if (requestTaskType === 'BDRS2_APPLICATION_REGULATOR_REVIEW_SUBMIT') {
    <app-base-task-container-component
      [header]="title()"
      [customContentTemplate]="customContentTemplate"
      expectedTaskType="BDRS2_APPLICATION_REGULATOR_REVIEW_SUBMIT"
      [notification]="notification"
      [daysRemaining]="daysRemaining()"></app-base-task-container-component>
  }

  @if (requestTaskType === 'BDRS2_WAIT_FOR_AMENDS') {
    <app-base-task-container-component
      [header]="title()"
      [customContentTemplate]="customContentTemplate"
      expectedTaskType="BDRS2_WAIT_FOR_AMENDS"></app-base-task-container-component>
  }

  @if (requestTaskType === 'BDRS2_WAIT_FOR_PEER_REVIEW') {
    <app-base-task-container-component
      [header]="title()"
      [customContentTemplate]="customContentTemplate"
      expectedTaskType="BDRS2_WAIT_FOR_PEER_REVIEW"></app-base-task-container-component>
  }

  @if (requestTaskType === 'BDRS2_APPLICATION_PEER_REVIEW') {
    <app-base-task-container-component
      [header]="title()"
      [customContentTemplate]="customContentTemplate"
      expectedTaskType="BDRS2_APPLICATION_PEER_REVIEW"></app-base-task-container-component>
  }

  <ng-template #customContentTemplate>
    @switch (requestTaskType) {
      @case ('BDRS2_WAIT_FOR_AMENDS') {
        <govuk-warning-text>You cannot edit the report as the operator is due to amend it</govuk-warning-text>
      }
      @case ('BDRS2_WAIT_FOR_PEER_REVIEW') {
        <govuk-warning-text>Waiting for peer review, you cannot make any changes</govuk-warning-text>
      }

      @case ('BDRS2_APPLICATION_REGULATOR_REVIEW_SUBMIT') {
        <div class="govuk-button-group">
          @if (allowCompleteReview$ | async) {
            <button (click)="completeReview()" govukButton title="Complete" type="button">Complete</button>
          }
          @if (allowReturnForAmends$ | async) {
            <button (click)="sendReturnForAmends()" govukButton title="Return for amendments" type="button">
              Return for amendments
            </button>
          }
          @if (allowSendForPeerReview$ | async) {
            <button (click)="sendForPeerReview()" govukButton title="Send for peer review" type="button">
              Send for peer review
            </button>
          }
        </div>
      }
      @case ('BDRS2_APPLICATION_PEER_REVIEW') {
        <div class="govuk-button-group">
          @if (allowPeerReviewDecision$ | async) {
            <button (click)="peerReviewDecision()" govukButton title="Peer review decision" type="button">
              Peer review decision
            </button>
          }
        </div>
      }
    }

    @if (baseUrl(); as baseUrl) {
      <ul class="app-task-list">
        <li app-task-section title="Stage 2 baseline data report details">
          <ul app-task-item-list>
            <li
              app-task-item
              [link]="baseUrl + 'baseline'"
              linkText="Stage 2 baseline data report and details"
              [status]="'BDRS2' | taskStatus | async"></li>
          </ul>
        </li>

        @if (hasVerificationReport()) {
          <li app-task-section title="Verification opinion statement">
            <ul app-task-item-list>
              <li
                app-task-item
                [link]="baseUrl + 'opinion-statement'"
                linkText="Stage 2 BDR verification opinion statement"
                [status]="'OPINION_STATEMENT' | taskStatus | async"></li>
              <li
                app-task-item
                [link]="baseUrl + 'overall-decision'"
                linkText="Overall decision"
                [status]="'OVERALL_DECISION' | taskStatus | async"></li>
            </ul>
          </li>
        }

        <li app-task-section title="Outcome of regulator review">
          <ul app-task-item-list>
            <li
              app-task-item
              [link]="sectionsCompleted() ? baseUrl + 'outcome/summary' : null"
              linkText="Outcome of regulator review"
              [status]="'outcome' | taskStatus | async"></li>
          </ul>
        </li>
      </ul>
    }
  </ng-template>
}
