<app-bdr-task [breadcrumb]="true">
  <app-page-heading>Changes requested by the regulator</app-page-heading>

  <govuk-error-summary *ngIf="displayErrorSummary$ | async" [form]="form"></govuk-error-summary>

  <app-summary-header class="govuk-heading-m">Baseline data report details</app-summary-header>

  <ng-container *ngIf="payload() as payload">
    <app-changes-requested-template
      [requiredChanges]="payload.regulatorReviewGroupDecisions?.BDR?.['details']?.requiredChanges"
      [reviewAttachments]="payload.regulatorReviewAttachments"
      [downloadUrl]="bdrService.getBaseFileDownloadUrl()"></app-changes-requested-template>
  </ng-container>

  <form (ngSubmit)="confirm()" [formGroup]="form">
    <div formControlName="changesRequested" govuk-checkboxes>
      <govuk-checkbox
        [value]="true"
        label="I have made changes and want to mark this task as complete"></govuk-checkbox>
    </div>
    <div *ngIf="isEditable()" class="govuk-button-group">
      <button appPendingButton govukButton type="submit">Confirm and complete</button>
    </div>
  </form>
</app-bdr-task>
