<ng-container *ngIf="uncorrectedNonConformities">
  <h2 class="govuk-heading-m" *ngIf="headingLarge">
    Non-conformities from the previous year that have not been resolved
  </h2>

  <ng-container *ngIf="showGuardQuestion && uncorrectedNonConformities?.areTherePriorYearIssues !== undefined">
    <dl govuk-summary-list>
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>Are there any unresolved non-conformities from a previous year?</dt>
        <dd govukSummaryListRowValue>{{ uncorrectedNonConformities.areTherePriorYearIssues ? 'Yes' : 'No' }}</dd>
        <dd govukSummaryListRowActions *ngIf="isEditable">
          <a govukLink [routerLink]="[baseLink]">Change</a>
        </dd>
      </div>
    </dl>
  </ng-container>

  <ng-container *ngIf="uncorrectedNonConformities?.priorYearIssues?.length > 0">
    <govuk-table
      [columns]="columns"
      [data]="uncorrectedNonConformities.priorYearIssues"
      [class.no-bottom-border]="false"
      [caption]="showCaption ? 'Non-conformities from the previous year that have not been resolved' : ''"
    >
      <ng-template let-column="column" let-index="index" let-row="row">
        <ng-container [ngSwitch]="column.field">
          <ng-container *ngSwitchCase="'reference'">{{ row.reference }}</ng-container>
          <ng-container *ngSwitchCase="'explanation'">
            <div class="pre-wrap">{{ row.explanation }}</div>
          </ng-container>
          <ng-container *ngIf="isEditable">
            <ng-container *ngSwitchCase="'change'">
              <a [routerLink]="[baseLink, index]" govukLink>Change</a>
            </ng-container>
            <ng-container *ngSwitchCase="'delete'">
              <a [routerLink]="[baseLink, 'delete', index]" govukLink>Remove</a>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-template>
    </govuk-table>
    <div class="govuk-button-group" *ngIf="isEditable">
      <button
        govukSecondaryButton
        [routerLink]="[baseLink, uncorrectedNonConformities?.priorYearIssues?.length ?? 0]"
        type="button"
      >
        Add another item
      </button>
    </div>
  </ng-container>
</ng-container>
