<ng-container *ngIf="vm() as vm">
  <ng-container *ngIf="!vm.isSubmitted; else submittedTemplate">
    <app-alr-task-common [breadcrumb]="true" heading="Return for amendments">
      <p class="govuk-body">Check your information before sending</p>

      <app-summary-header class="govuk-heading-m">Activity level report details</app-summary-header>

      <div *ngFor="let decision of vm.decisions">
        <dl govuk-summary-list class="govuk-summary-list--no-border summary-list--edge-border">
          <div govukSummaryListRow>
            <dt govukSummaryListRowKey>Changes required from operator</dt>
            <dd govukSummaryListRowValue>
              <ng-container
                *ngFor="
                  let requiredChange of decision?.data?.details?.requiredChanges;
                  let i = index;
                  let isLast = last
                ">
                <div class="pre-wrap">
                  {{ i + 1 }}. {{ requiredChange.reason }}
                  <br />
                  <ng-container *ngIf="requiredChange?.files?.length > 0">
                    <app-summary-download-files
                      [files]="
                        alrService.getRegulatorDownloadUrlFiles(requiredChange?.files)
                      "></app-summary-download-files>
                  </ng-container>
                </div>
                <br *ngIf="!isLast" />
              </ng-container>
            </dd>
          </div>
          <div govukSummaryListRow *ngIf="decision?.data?.details?.notes">
            <dt govukSummaryListRowKey>Notes</dt>
            <dd govukSummaryListRowValue class="pre-wrap">{{ decision.data.details.notes }}</dd>
          </div>
        </dl>
      </div>

      <div *ngIf="vm.isEditable" class="govuk-button-group">
        <button appPendingButton govukButton type="button" (click)="onSubmit()">Confirm and complete</button>
      </div>
    </app-alr-task-common>
  </ng-container>

  <ng-template #submittedTemplate>
    <app-confirmation-shared
      title="Returned to operator for amendments"
      [whatHappensNextTemplate]="whatHappensNextTemplate"></app-confirmation-shared>
  </ng-template>

  <ng-template #whatHappensNextTemplate>
    <div id="whatHappensNextTemplate">
      <h3 class="govuk-heading-m">What happens next</h3>

      <p class="govuk-body">The operator will return the report to you when the amendments have been made.</p>
    </div>
  </ng-template>
</ng-container>
