<govuk-details summary="What you need to include in your answer">
  <p class="govuk-caption-m govuk-!-padding-left-3 govuk-!-padding-bottom-3">
    Where relevant, descriptions of the methods should include:
  </p>
  <ul class="govuk-list govuk-list--bullet govuk-caption-m govuk-!-width-two-thirds">
    <li>calculation steps</li>
    <li>each distinct data source used</li>
    <li>calculation formulae</li>
    <li>relevant calculation factors including unit of measurement</li>
    <li>horizontal and vertical checks for corroborating data</li>
    <li>procedures underpinning sampling plans</li>
    <li>
      measurement equipment used with reference to the relevant diagram and a description how they are installed and
      maintained
    </li>

    <li>a list of laboratories engaged in carrying out relevant analytical procedures</li>
  </ul>

  <p class="govuk-caption-m">
    The description must include the result of a simplified uncertainty assessment in accordance with Article 7(2),
    where required.
  </p>

  <p class="govuk-caption-m">
    For each relevant calculation formula the plan must contain one example using real data.
  </p>
</govuk-details>
