<app-bdr-task-review
  [breadcrumb]="true"
  heading="Review the baseline data report and details"
  caption="Baseline data report and details">
  <app-bdr-baseline-summary-template
    [isEditable]="false"
    [data]="bdr()"
    [bdrFile]="bdrFile()"
    [files]="files()"
    [mmpFiles]="mmpFiles()"></app-bdr-baseline-summary-template>

  <app-shared-review-group-decision
    [isEditable]="isEditable()"
    [payload]="$any(payload())"
    [downloadUrl]="downloadUrl"
    [requestTaskId]="requestTaskId"
    (formSubmit)="onSubmit($event)"></app-shared-review-group-decision>
</app-bdr-task-review>
