<h2 class="govuk-heading-m">Total annual emissions data</h2>
<dl govuk-summary-list>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>
      Do you want to request ICAO not to publish your total annual emissions data at the operator level?
    </dt>
    <dd govukSummaryListRowValue>{{ confidentialityData.totalEmissionsPublished ? 'Yes' : 'No' }}</dd>

    @if (isEditable) {
      <dd govukSummaryListRowActions>
        <a govukLink routerLink="../" [queryParams]="queryParams">Change</a>
      </dd>
    }
  </div>

  @if (confidentialityData.totalEmissionsPublished === true) {
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>
        Emissions data you are requesting should not be published and reasons why disclosure of this data would harm
        your commercial interests
      </dt>
      <dd govukSummaryListRowValue class="pre-wrap">{{ confidentialityData?.totalEmissionsExplanation }}</dd>
      @if (isEditable) {
        <dd govukSummaryListRowActions>
          <a govukLink routerLink="../" [queryParams]="queryParams">Change</a>
        </dd>
      }
    </div>
    @if (totalEmissionsFiles?.length > 0) {
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>Supporting documents</dt>
        <dd govukSummaryListRowValue>
          <app-summary-download-files [files]="totalEmissionsFiles"></app-summary-download-files>
        </dd>
        @if (isEditable) {
          <dd govukSummaryListRowActions>
            <a govukLink routerLink="../" [queryParams]="queryParams">Change</a>
          </dd>
        }
      </div>
    }
  }
</dl>

<h2 class="govuk-heading-m">Aggregated state pair data</h2>
<dl govuk-summary-list>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Do you want to request ICAO not to publish your aggregated state pair data?</dt>
    <dd govukSummaryListRowValue>{{ confidentialityData.aggregatedStatePairDataPublished ? 'Yes' : 'No' }}</dd>

    @if (isEditable) {
      <dd govukSummaryListRowActions>
        <a govukLink routerLink="../" [queryParams]="queryParams">Change</a>
      </dd>
    }
  </div>

  @if (confidentialityData.aggregatedStatePairDataPublished === true) {
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>
        State pair data you are requesting should not be published and reasons why disclosure of this data would harm
        your commercial interests
      </dt>
      <dd govukSummaryListRowValue class="pre-wrap">{{ confidentialityData?.aggregatedStatePairDataExplanation }}</dd>
      @if (isEditable) {
        <dd govukSummaryListRowActions>
          <a govukLink routerLink="../" [queryParams]="queryParams">Change</a>
        </dd>
      }
    </div>
    @if (aggregatedStatePairDataFiles?.length > 0) {
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>Supporting documents</dt>
        <dd govukSummaryListRowValue>
          <app-summary-download-files [files]="aggregatedStatePairDataFiles"></app-summary-download-files>
        </dd>
        @if (isEditable) {
          <dd govukSummaryListRowActions>
            <a govukLink routerLink="../" [queryParams]="queryParams">Change</a>
          </dd>
        }
      </div>
    }
  }
</dl>
