<app-wizard-step
  (formSubmit)="onSubmit()"
  [formGroup]="form"
  submitText="Continue"
  [hideSubmit]="!vm.isEditable"
  [heading]="vm.pageHeader"
  *ngIf="vm$ | async as vm"
>
  <p class="govuk-body govuk-!-width-two-thirds">
    The regulator would normally receive and approve a notification sent by the operator when the issue occurred.
  </p>

  <div formControlName="methodApproved" govuk-radio>
    <govuk-radio-option [value]="true" label="Yes"></govuk-radio-option>
    <govuk-radio-option [value]="false" label="No"></govuk-radio-option>
  </div>
</app-wizard-step>
<app-return-to-link></app-return-to-link>
