<app-dre-task [breadcrumb]="true">
  <app-wizard-step
    (formSubmit)="onSubmit()"
    [formGroup]="form"
    heading="Reportable emissions"
    submitText="Continue"
    [showBackLink]="true"
  >
    <div class="govuk-hint">Complete the reportable emissions for each of the selected monitoring approaches.</div>

    <ng-container formGroupName="calculationOfCO2" *ngIf="$any((monitoringApproaches$ | async)['CALCULATION_CO2'])">
      <fieldset govukFieldset formGroupName="combustionEmissions">
        <legend size="medium" govukLegend>Calculation of combustion emissions</legend>
        <div
          formControlName="reportableEmissions"
          govuk-text-input
          [label]="'Reportable emissions (include non-sustainable biomass)'"
          [suffix]="emissionSuffixLabel"
          widthClass="govuk-!-width-one-third"
        ></div>
        <div
          formControlName="sustainableBiomass"
          govuk-text-input
          [label]="'Sustainable biomass'"
          [suffix]="emissionSuffixLabel"
          widthClass="govuk-!-width-one-third"
        ></div>
      </fieldset>
      <fieldset govukFieldset formGroupName="processEmissions">
        <legend size="medium" govukLegend>Calculation of process emissions</legend>
        <div
          formControlName="reportableEmissions"
          govuk-text-input
          [label]="'Reportable emissions (include non-sustainable biomass)'"
          [suffix]="emissionSuffixLabel"
          widthClass="govuk-!-width-one-third"
        ></div>
        <div
          formControlName="sustainableBiomass"
          govuk-text-input
          [label]="'Sustainable biomass'"
          [suffix]="emissionSuffixLabel"
          widthClass="govuk-!-width-one-third"
        ></div>
      </fieldset>
      <fieldset govukFieldset formGroupName="massBalanceEmissions">
        <legend size="medium" govukLegend>Calculation of mass balance emissions</legend>
        <div
          formControlName="reportableEmissions"
          govuk-text-input
          [label]="'Reportable emissions (include non-sustainable biomass)'"
          [suffix]="emissionSuffixLabel"
          widthClass="govuk-!-width-one-third"
        ></div>
        <div
          formControlName="sustainableBiomass"
          govuk-text-input
          [label]="'Sustainable biomass'"
          [suffix]="emissionSuffixLabel"
          widthClass="govuk-!-width-one-third"
        ></div>
      </fieldset>
      <ng-container *ngIf="$any((monitoringApproaches$ | async)['CALCULATION_CO2'])?.calculateTransferredCO2 === true">
        <fieldset govukFieldset formGroupName="transferredCO2Emissions">
          <legend size="medium" govukLegend>Calculation of transferred CO2 emissions</legend>
          <div
            formControlName="reportableEmissions"
            govuk-text-input
            [label]="'Reportable emissions (include non-sustainable biomass)'"
            [suffix]="emissionSuffixLabel"
            widthClass="govuk-!-width-one-third"
          ></div>
          <div
            formControlName="sustainableBiomass"
            govuk-text-input
            [label]="'Sustainable biomass'"
            [suffix]="emissionSuffixLabel"
            widthClass="govuk-!-width-one-third"
          ></div>
        </fieldset>
      </ng-container>
    </ng-container>

    <ng-container formGroupName="measurementOfCO2" *ngIf="$any((monitoringApproaches$ | async)['MEASUREMENT_CO2'])">
      <fieldset govukFieldset formGroupName="emissions">
        <legend size="medium" govukLegend>Measurement of CO2 emissions</legend>
        <div
          formControlName="reportableEmissions"
          govuk-text-input
          [label]="'Reportable emissions (include non-sustainable biomass)'"
          [suffix]="emissionSuffixLabel"
          widthClass="govuk-!-width-one-third"
        ></div>
        <div
          formControlName="sustainableBiomass"
          govuk-text-input
          [label]="'Sustainable biomass'"
          [suffix]="emissionSuffixLabel"
          widthClass="govuk-!-width-one-third"
        ></div>
      </fieldset>
      <ng-container *ngIf="$any((monitoringApproaches$ | async)['MEASUREMENT_CO2'])?.measureTransferredCO2 === true">
        <fieldset govukFieldset formGroupName="transferredCO2Emissions">
          <legend size="medium" govukLegend>Measurement of transferred CO2 emissions</legend>
          <div
            formControlName="reportableEmissions"
            govuk-text-input
            [label]="'Reportable emissions (include non-sustainable biomass)'"
            [suffix]="emissionSuffixLabel"
            widthClass="govuk-!-width-one-third"
          ></div>
          <div
            formControlName="sustainableBiomass"
            govuk-text-input
            [label]="'Sustainable biomass'"
            [suffix]="emissionSuffixLabel"
            widthClass="govuk-!-width-one-third"
          ></div>
        </fieldset>
      </ng-container>
    </ng-container>

    <ng-container formGroupName="measurementOfN2O" *ngIf="$any((monitoringApproaches$ | async)['MEASUREMENT_N2O'])">
      <fieldset govukFieldset formGroupName="emissions">
        <legend size="medium" govukLegend>Measurement of N2O emissions</legend>
        <div
          formControlName="reportableEmissions"
          govuk-text-input
          [label]="'Reportable emissions (include non-sustainable biomass)'"
          [suffix]="emissionSuffixLabel"
          widthClass="govuk-!-width-one-third"
        ></div>
        <div
          formControlName="sustainableBiomass"
          govuk-text-input
          [label]="'Sustainable biomass'"
          [suffix]="emissionSuffixLabel"
          widthClass="govuk-!-width-one-third"
        ></div>
      </fieldset>
      <ng-container *ngIf="$any((monitoringApproaches$ | async)['MEASUREMENT_N2O'])?.measureTransferredN2O === true">
        <fieldset govukFieldset formGroupName="transferredN2OEmissions">
          <legend size="medium" govukLegend>Measurement of transferred N2O emissions</legend>
          <div
            formControlName="reportableEmissions"
            govuk-text-input
            [label]="'Reportable emissions (include non-sustainable biomass)'"
            [suffix]="emissionSuffixLabel"
            widthClass="govuk-!-width-one-third"
          ></div>
          <div
            formControlName="sustainableBiomass"
            govuk-text-input
            [label]="'Sustainable biomass'"
            [suffix]="emissionSuffixLabel"
            widthClass="govuk-!-width-one-third"
          ></div>
        </fieldset>
      </ng-container>
    </ng-container>

    <ng-container formGroupName="calculationOfPFC" *ngIf="$any((monitoringApproaches$ | async)['CALCULATION_PFC'])">
      <fieldset govukFieldset formGroupName="totalEmissions">
        <legend size="medium" govukLegend>Calculation of PFC emissions</legend>
        <div
          formControlName="reportableEmissions"
          govuk-text-input
          [label]="'Total Reportable Emissions'"
          [suffix]="emissionSuffixLabel"
          widthClass="govuk-!-width-one-third"
        ></div>
      </fieldset>
    </ng-container>

    <ng-container formGroupName="inherentOfCO2" *ngIf="$any((monitoringApproaches$ | async)['INHERENT_CO2'])">
      <fieldset govukFieldset formGroupName="totalEmissions">
        <legend size="medium" govukLegend>Inherent CO2 emissions</legend>
        <div
          formControlName="reportableEmissions"
          govuk-text-input
          [label]="'Total Reportable Emissions'"
          [suffix]="emissionSuffixLabel"
          widthClass="govuk-!-width-one-third"
        ></div>
      </fieldset>
    </ng-container>

    <ng-container formGroupName="fallback" *ngIf="$any((monitoringApproaches$ | async)['FALLBACK'])">
      <fieldset govukFieldset formGroupName="emissions">
        <legend size="medium" govukLegend>Fall-back emissions</legend>
        <div
          formControlName="reportableEmissions"
          govuk-text-input
          [label]="'Reportable emissions (include non-sustainable biomass)'"
          [suffix]="emissionSuffixLabel"
          widthClass="govuk-!-width-one-third"
        ></div>
        <div
          formControlName="sustainableBiomass"
          govuk-text-input
          [label]="'Sustainable biomass'"
          [suffix]="emissionSuffixLabel"
          widthClass="govuk-!-width-one-third"
        ></div>
      </fieldset>
    </ng-container>

    <h2 class="govuk-heading-m">Calculated emissions</h2>
    <p class="govuk-body">Reportable emissions: {{ totalReportableEmissions$ | async | bigNumber : 0 }} tonnes CO2e</p>
    <p class="govuk-body">Sustainable biomass: {{ totalSustainableBiomassEmissions$ | async | bigNumber : 0  }} tonnes CO2e</p>
  </app-wizard-step>

  <a govukLink routerLink="..">Return to: reportable emissions task</a>
</app-dre-task>
