<ng-template #inUseTableContentTpl let-showOriginal>
  <ng-container *ngIf="vm$ | async as vm">
    <app-aircraft-type-table
      [editable]="vm.editable"
      [aircraftTypes]="showOriginal ? vm.originalAircraftTypesInUse : aircraftTypesInUse"
      [isFUMM]="isFUMM"
    ></app-aircraft-type-table>
  </ng-container>
</ng-template>

<ng-template #plannedToBeUsedTableContentTpl let-showOriginal>
  <ng-container *ngIf="vm$ | async as vm">
    <app-aircraft-type-table
      [aircraftTypes]="showOriginal ? vm.originalAircraftTypesToBeUsed : aircraftTypesToBeUsed"
      [editable]="vm.editable"
      [isFUMM]="isFUMM"
    ></app-aircraft-type-table>
  </ng-container>
</ng-template>

<ng-template #bottomMainContentTpl let-showOriginal>
  <ng-container *ngIf="vm$ | async as vm">
    <app-emission-factors-summary
      [fuelTypes]="showOriginal ? vm.originalFuelTypes : fuelTypes"
      [editable]="vm.editable"
    ></app-emission-factors-summary>

    <div *ngIf="multipleMethodsExplanation || vm.originalMultipleMethodsExplanation">
      <app-multiple-methods-summary-template
        [editable]="vm.editable"
        [multipleMethodsExplanation]="showOriginal ? vm.originalMultipleMethodsExplanation : multipleMethodsExplanation"
      >
      </app-multiple-methods-summary-template>
    </div>

    <div *ngIf="additionalAircraftsMonitoringApproach || vm.originalAdditionalAircraftsMonitoringApproach">
      <app-procedure-form-summary
        [isEditable]="vm.editable"
        header="Monitoring approach for aircraft entering your fleet"
        formRouterLink="../monitoring-methodology"
        [procedureFormData]="
          showOriginal ? vm.originalAdditionalAircraftsMonitoringApproach : additionalAircraftsMonitoringApproach
        "
      >
      </app-procedure-form-summary>
    </div>
  </ng-container>
</ng-template>

<div *ngIf="vm$ | async as vm" data-testid="emission-sources-summary-page">
  <govuk-error-summary [form]="form"></govuk-error-summary>

  <app-page-heading>{{ vm.pageHeader }}</app-page-heading>

  <h1 class="govuk-heading-m">Aircraft currently in use</h1>

  <p class="govuk-body">
    Include owned and leased-in aircraft which you are using this year to perform an aviation activity as defined in
    schedule 1 of the UK ETS order.
  </p>

  <app-highlight-diff *ngIf="vm.showDiff">
    <ng-container slot="previous" *ngTemplateOutlet="inUseTableContentTpl; context: { $implicit: true }"></ng-container>
    <ng-container slot="current" *ngTemplateOutlet="inUseTableContentTpl; context: { $implicit: false }"></ng-container>
  </app-highlight-diff>

  <ng-container
    *ngIf="vm.showDiff === false"
    [ngTemplateOutlet]="inUseTableContentTpl"
    [ngTemplateOutletContext]="{ $implicit: false }"
  ></ng-container>

  <div class="govuk-button-group">
    <button type="button" *ngIf="vm.editable" govukButton govuksecondarybutton (click)="addAircraftType()">
      Add an aircraft type
    </button>
  </div>

  <h1 class="govuk-heading-m">Additional aircraft planned to be used (optional)</h1>
  <p class="govuk-body">Only include aircraft which you are not currently using but plan to start using this year.</p>

  <app-highlight-diff *ngIf="vm.showDiff">
    <ng-container
      slot="previous"
      *ngTemplateOutlet="plannedToBeUsedTableContentTpl; context: { $implicit: true }"
    ></ng-container>

    <ng-container
      slot="current"
      *ngTemplateOutlet="plannedToBeUsedTableContentTpl; context: { $implicit: false }"
    ></ng-container>
  </app-highlight-diff>

  <ng-container
    *ngIf="vm.showDiff === false"
    [ngTemplateOutlet]="plannedToBeUsedTableContentTpl"
    [ngTemplateOutletContext]="{ $implicit: false }"
  ></ng-container>

  <div class="govuk-button-group">
    <button type="button" *ngIf="vm.editable" govukButton govuksecondarybutton (click)="addAircraftType(false)">
      Add an aircraft type
    </button>
  </div>

  <app-highlight-diff *ngIf="vm.showDiff">
    <ng-container slot="previous" *ngTemplateOutlet="bottomMainContentTpl; context: { $implicit: true }"></ng-container>
    <ng-container slot="current" *ngTemplateOutlet="bottomMainContentTpl; context: { $implicit: false }"></ng-container>
  </app-highlight-diff>

  <ng-container
    *ngIf="vm.showDiff === false"
    [ngTemplateOutlet]="bottomMainContentTpl"
    [ngTemplateOutletContext]="{ $implicit: false }"
  ></ng-container>

  <div class="govuk-button-group" *ngIf="!vm.hideSubmit">
    <button (click)="onSubmit()" appPendingButton govukButton type="button">Confirm and complete</button>
  </div>

  <app-emp-review-decision-group *ngIf="vm.showDecision" taskKey="emissionSources"></app-emp-review-decision-group>

  <app-emp-variation-review-decision-group
    *ngIf="vm.showVariationDecision"
    taskKey="emissionSources"
  ></app-emp-variation-review-decision-group>

  <app-emp-variation-regulator-led-decision-group
    *ngIf="vm.showVariationRegLedDecision"
    taskKey="emissionSources"
  ></app-emp-variation-regulator-led-decision-group>
</div>

<app-return-to-link></app-return-to-link>
