<dl govuk-summary-list class="govuk-summary-list--no-border summary-list--edge-border">
  <ng-content></ng-content>

  @if (verificationRequired !== null && verificationRequired !== undefined) {
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Does the operator need to send the amendments to the verifier?</dt>
      <dd govukSummaryListRowValue>{{ verificationRequired ? 'Yes' : 'No' }}</dd>
    </div>
  }

  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Changes required</dt>
    <dd govukSummaryListRowValue>
      <ng-container *ngFor="let requiredChange of requiredChanges; let i = index; let isLast = last">
        <div>
          {{ i + 1 }}. {{ requiredChange?.reason }}
          <br />
          <ng-container *ngIf="requiredChange?.files?.length > 0">
            <app-summary-download-files
              [files]="getDownloadUrlFiles(requiredChange?.files)"></app-summary-download-files>
          </ng-container>
        </div>
        <br *ngIf="!isLast" />
      </ng-container>
    </dd>
  </div>
  <div govukSummaryListRow *ngIf="notes">
    <dt govukSummaryListRowKey>Notes</dt>
    <dd govukSummaryListRowValue class="pre-wrap">{{ notes }}</dd>
  </div>
</dl>
