<div formControlName="line1" govuk-text-input label="Address line 1" widthClass="govuk-!-width-two-thirds"></div>

<div
  formControlName="line2"
  govuk-text-input
  label="Address line 2 (optional)"
  widthClass="govuk-!-width-two-thirds"
></div>

<div formControlName="city" govuk-text-input label="Town or city" widthClass="govuk-!-width-two-thirds"></div>

<div
  formControlName="state"
  govuk-text-input
  label="State, province or region (optional)"
  widthClass="govuk-!-width-two-thirds"
></div>

<div
  formControlName="postcode"
  govuk-text-input
  label="Postal or zip code (Optional)"
  widthClass="govuk-!-width-two-thirds"
></div>

<div
  [options]="countriesOptions$ | async"
  formControlName="country"
  govuk-select
  label="Country"
  widthClass="govuk-!-width-two-thirds"
></div>
