<ng-container *ngIf="vm() as vm">
  <app-alr-task returnLink="../../" returnLinkTitle="Complete activity level report" [breadcrumb]="true">
    <app-page-heading caption="ALR verification opinion statement">Check your answers</app-page-heading>
    <app-opinion-statement-summary-template
      opinionStatementFilesText="Uploaded ALR verification opinion statement"
      [opinionStatementFile]="vm?.opinionStatementFile"
      [notes]="vm?.notes"
      [supportingFiles]="vm?.supportingFiles"
      [isEditable]="vm.isEditable"></app-opinion-statement-summary-template>

    <div *ngIf="vm.hideSubmit" class="govuk-button-group">
      <button appPendingButton govukButton type="button" (click)="onConfirm()">Confirm and continue</button>
    </div>
  </app-alr-task>
</ng-container>
