<app-aer-task [breadcrumb]="true">
  <app-page-heading>Source streams (fuels and materials)</app-page-heading>

  <p class="govuk-body">List the sources that have been used during the reporting year.</p>
  <p class="govuk-body">The table is pre-populated with source streams currently in the approved permit.</p>

  <ng-container *ngIf="'sourceStreams' | task | async as sourceStreams; else startAdding">
    <ng-container *ngIf="sourceStreams.length > 0; else startAdding">
      <app-source-streams-table
        [data]="'sourceStreams' | task | async"
        [isEditable]="aerService.isEditable$ | async"
      ></app-source-streams-table>

      <ng-container *ngIf="(aerService.isEditable$ | async) === true">
        <button govukSecondaryButton routerLink="add" type="button">Add another source stream</button>

        <div class="govuk-button-group">
          <button (click)="onSubmit()" appPendingButton govukButton type="button">Confirm and complete</button>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-template #startAdding>
    <div class="govuk-button-group" *ngIf="(aerService.isEditable$ | async) === true">
      <button govukButton routerLink="add" type="button">Add a source stream</button>
    </div>
  </ng-template>

  <app-return-link></app-return-link>
</app-aer-task>
