<app-alr-task-common returnLink="../" [breadcrumb]="true">
  <app-page-heading caption="Activity level report verification opinion statement">
    Review the activity level report verification opinion statement
  </app-page-heading>
  <app-opinion-statement-summary-template
    [notes]="alrPayload()?.verificationReport?.opinionStatement?.notes"
    [opinionStatementFiles]="opinionStatementFiles()"
    opinionStatementFilesText="Uploaded ALR verification opinion statement"></app-opinion-statement-summary-template>
  <app-alr-verification-review-group-decision></app-alr-verification-review-group-decision>
</app-alr-task-common>
