<app-bdr-task-review [breadcrumb]="true" returnToLink="../..">
  <span [class]="'govuk-caption-l'">Outcome of regulator review</span>
  <app-wizard-step (formSubmit)="onSubmit()" [formGroup]="form" [hideSubmit]="!isEditable()">
    <div
      formControlName="hasOperatorMetDataSubmissionRequirements"
      govuk-checkboxes
      legendSize="heading"
      size="small"
      class="govuk-!-width-two-thirds">
      <h1 govukLegend>Has the operator met the 27A data submission requirements?</h1>
      <govuk-checkbox
        [value]="true"
        label="Operator has met 27A data submission requirements and this information has been sent to UK ETS authority"></govuk-checkbox>
    </div>
  </app-wizard-step>
</app-bdr-task-review>
