<app-permit-task
  [notification]="notification"
  [breadcrumb]="true"
  reviewGroupTitle="Fuels and equipment inventory"
  reviewGroupUrl="fuels"
>
  <app-page-heading caption="Fuels and equipment inventory">
    Emissions summaries and regulated activities
  </app-page-heading>

  <h2
    [changeRoute]="(store.isEditable$ | async) === true ? '..' : undefined"
    app-summary-header
    class="govuk-heading-m"
  >
    <span class="govuk-visually-hidden">List of emission summaries</span>
  </h2>

  <govuk-table
    [columns]="emissionSummariesColumns"
    [data]="'emissionSummaries' | task | async"
    [class.no-bottom-border]="false"
  >
    <ng-template let-column="column" let-row="row" let-i="index">
      @switch (column.field) {
        @case ('sourceStream') {
          @if ('sourceStreams' | task | async | sourceStream: row.sourceStream; as sourceStream) {
            {{ sourceStream.reference }}
            {{ sourceStream | sourceStreamDescription }}
          }
        }
        @case ('emissionSources') {
          @if (row.emissionSources.length === 1) {
            @if ('emissionSources' | task | async | emissionSource: row.emissionSources[0]; as emissionSource) {
              {{ emissionSource.reference }}
              {{ emissionSource.description }}
            }
          } @else {
            @for (emissionSourceId of row.emissionSources; track emissionSourceId) {
              @if ('emissionSources' | task | async | emissionSource: emissionSourceId; as emissionSource) {
                {{ emissionSource.reference }}
                {{ emissionSource.description }}
                <br />
              }
            }
          }
        }
        @case ('emissionPoints') {
          @if (row.emissionPoints.length === 1) {
            @if ('emissionPoints' | task | async | emissionPoint: row.emissionPoints[0]; as emissionPoint) {
              {{ emissionPoint.reference }}
              {{ emissionPoint.description }}
            }
          } @else {
            @for (emissionPointId of row.emissionPoints; track emissionPointId) {
              @if ('emissionPoints' | task | async | emissionPoint: emissionPointId; as emissionPoint) {
                {{ emissionPoint.reference }}
                {{ emissionPoint.description }}
                <br />
              }
            }
          }
        }
        @case ('regulatedActivity') {
          @if ('regulatedActivities' | task | async; as regulatedActivities) {
            {{
              (row.excludedRegulatedActivity
                ? 'excludedRegulatedActivity'
                : (regulatedActivities | regulatedActivity: row.regulatedActivity).type
              ) | regulatedActivityType
            }}
          }
        }
      }
    </ng-template>
  </govuk-table>
  <app-list-return-link reviewGroupTitle="Fuels and equipment inventory" reviewGroupUrl="fuels"></app-list-return-link>
</app-permit-task>
