<app-procedure-form-step [form]="form" (submitForm)="onSubmit()">
  <div procedureFormPageHeader>
    <app-page-heading>SAF monitoring systems and processes</app-page-heading>
    <p class="govuk-body">
      For your purchase and delivery of SAF, describe the procedures, systems and processes you use for monitoring its
      delivery or determining its mass, whether to your aircraft or to an aerodrome fuelling system.
    </p>
    <p class="govuk-body">You should include:</p>
    <ul class="govuk-body">
      <li>the purchase and delivery records you expect to obtain or maintain</li>
      <li>
        any processes you will use for tracking the batches of SAF through the fuel supply chain (for example product
        transfer documentation, invoices, delivery notes, internal tracking system)
      </li>
      <li>any information from your fuel supplier that you expect to submit</li>
    </ul>
  </div>
</app-procedure-form-step>
