<ng-container *ngIf="vm$ | async as vm">
  <app-page-heading>{{ vm.pageHeader }}</app-page-heading>

  <ng-container *ngIf="vm.data">
    <app-aer-emissions-reduction-claim-corsia-template
      [emissionsReductionClaim]="vm.data"
      [cefFiles]="vm.cefFiles"
      [declarationFiles]="vm.noDoubleCountingDeclarationFiles"
      [isEditable]="vm.isEditable"
      [queryParams]="{ change: true }"
    ></app-aer-emissions-reduction-claim-corsia-template>

    <div class="govuk-button-group">
      <button (click)="onSubmit()" appPendingButton govukButton type="button" *ngIf="!vm.hideSubmit">
        Confirm and complete
      </button>
    </div>
  </ng-container>
  <app-aviation-aer-review-decision-group
    *ngIf="vm.showDecision"
    taskKey="emissionsReductionClaim"
  ></app-aviation-aer-review-decision-group>
</ng-container>
<app-return-to-link></app-return-to-link>
