<app-permit-task
  [notification]="notification"
  [breadcrumb]="true"
  reviewGroupTitle="Permit type"
  reviewGroupUrl="permit-type">
  <app-page-heading caption="Define permit type">Which type of permit are you applying for?</app-page-heading>
  <p class="govuk-caption-m">
    Based on the information you gave, this installation can apply for a Hospital and Small Emitter (HSE) permit, a full
    Greenhouse Gas Emissions (GHGE) permit or a voluntary waste monitoring plan.
  </p>
  <h2
    app-summary-header
    [changeRoute]="
      (store.isEditable$ | async) === true &&
      !['PERMIT_VARIATION_APPLICATION_SUBMIT', 'PERMIT_VARIATION_APPLICATION_AMENDS_SUBMIT'].includes(
        (store | async)?.requestTaskType
      )
        ? '..'
        : undefined
    "
    class="govuk-heading-m">
    Permit type
  </h2>
  <app-permit-type-summary-template [permitType]="permitType"></app-permit-type-summary-template>
  <app-list-return-link reviewGroupTitle="Permit type" reviewGroupUrl="permit-type"></app-list-return-link>
</app-permit-task>
