<app-wizard-step
  (formSubmit)="onSubmit()"
  [formGroup]="form"
  heading="Use of simplified procedures for the scheme year"
  submitText="Continue"
  [hideSubmit]="false"
>
  <p class="govuk-body govuk-!-width-two-thirds">
    Confirm your total flights and emissions for the scheme year that permits you to use the small emitters tool.
  </p>
  <div class="govuk-heading-m">Total number of full-scope flights</div>
  <p class="govuk-body govuk-!-width-two-thirds">
    The flight’s local departure time determines which four-month period it will be in.
  </p>
  <app-monitoring-approach-number-flights-form [form]="form"></app-monitoring-approach-number-flights-form>
</app-wizard-step>
<app-return-to-link></app-return-to-link>
