<div class="govuk-!-width-two-thirds">
  <app-wizard-step
    (formSubmit)="onSubmit()"
    [formGroup]="form"
    heading="Documentation and record keeping plan"
    submitText="Continue"
    [hideSubmit]="false"
  >
    <p class="govuk-body">
      Identify the data stored, the IT systems used and list any applied data management and IT standards, where
      relevant.
    </p>

    <div formControlName="description" govuk-textarea label="Procedure description" [maxLength]="10000"></div>
  </app-wizard-step>
</div>
<app-return-to-link></app-return-to-link>
