<ng-container *ngIf="vm$ | async as vm">
  <app-page-heading>Reporting status</app-page-heading>

  <ng-container *ngIf="vm.reportingData">
    <app-reporting-obligation-summary-template
      [reportingData]="vm.reportingData"
      [year]="vm.year"
      [files]="vm.files"
      [isEditable]="vm.isEditable"
      [queryParams]="{ change: true }"
    ></app-reporting-obligation-summary-template>
  </ng-container>

  <div class="govuk-button-group" *ngIf="!vm.hideSubmit">
    <button (click)="onSubmit()" appPendingButton govukButton type="button">Confirm and complete</button>
  </div>

  <app-aviation-aer-review-decision-group
    *ngIf="vm.showDecision"
    taskKey="reportingObligation"
  ></app-aviation-aer-review-decision-group>
</ng-container>

<app-return-to-link></app-return-to-link>
