<dl govuk-summary-list>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Conclusions on data quality</dt>
    <dd class="pre-wrap" govukSummaryListRowValue>{{ data.dataQualityMateriality }}</dd>
    <dd govukSummaryListRowActions *ngIf="isEditable">
      <a govukLink routerLink="../" [queryParams]="queryParams">Change</a>
    </dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Materiality threshold</dt>
    <dd govukSummaryListRowValue>{{ data.materialityThresholdType | materialityThresholdType }}</dd>
    <dd govukSummaryListRowActions *ngIf="isEditable">
      <a govukLink routerLink="../" [queryParams]="queryParams">Change</a>
    </dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Is this materiality threshold being met in the emissions report?</dt>
    <dd govukSummaryListRowValue>{{ data.materialityThresholdMet === true ? 'Yes' : 'No' }}</dd>
    <dd govukSummaryListRowActions *ngIf="isEditable">
      <a govukLink routerLink="../" [queryParams]="queryParams">Change</a>
    </dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Conclusion relating to the operator's emissions report</dt>
    <dd class="pre-wrap" govukSummaryListRowValue>{{ data.emissionsReportConclusion }}</dd>
    <dd govukSummaryListRowActions *ngIf="isEditable">
      <a govukLink routerLink="../emissions-report" [queryParams]="queryParams">Change</a>
    </dd>
  </div>
</dl>
