<dl govuk-summary-list [hasBorders]="false" class="govuk-!-margin-bottom-0">
  @if (improvementResponse?.type === 'YES') {
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Operator comments</dt>
      <dd govukSummaryListRowValue class="pre-wrap">
        {{ improvementResponse?.proposal | textEllipsis }}
      </dd>
    </div>
  } @else if (improvementResponse?.type === 'ALREADY_MADE') {
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Operator comments'</dt>
      <dd govukSummaryListRowValue class="pre-wrap">
        {{ improvementResponse?.explanation | textEllipsis }}
      </dd>
    </div>
  } @else if (improvementResponse?.type === 'NO') {
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Explain why unreasonable costs would be incurred</dt>
      <dd govukSummaryListRowValue class="pre-wrap">
        {{ improvementResponse?.costUnreasonableExplanation }}
      </dd>
    </div>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Explain why it is not technically feasible to meet the highest tier</dt>
      <dd govukSummaryListRowValue class="pre-wrap">
        {{ improvementResponse?.technicalInfeasibilityExplanation }}
      </dd>
    </div>
  }
</dl>
