<app-doal-task [breadcrumb]="true">
  <app-wizard-step
    (formSubmit)="onSubmit()"
    [formGroup]="form"
    caption="Proceed to UK ETS authority"
    heading="Has a withholding of allowances notice been issued?"
    submitText="Save and continue"
    [hideSubmit]="(editable$ | async) === false"
  >
    <div formControlName="hasWithholdingOfAllowances" govuk-radio>
      <govuk-radio-option [value]="true" label="Yes">
        <ng-container govukConditionalContent>
          <ng-container formGroupName="withholdingAllowancesNotice">
            <div
              formControlName="noticeIssuedDate"
              label="When was the notice issued?"
              hint="This date cannot be in the future"
              govuk-date-input
            ></div>

            <h2 class="govuk-heading-m">Comments on the withholding of allowances notice</h2>
            <div govuk-textarea formControlName="withholdingOfAllowancesComment" [maxLength]="10000"></div>
          </ng-container>
        </ng-container>
      </govuk-radio-option>
      <govuk-radio-option [value]="false" label="No"></govuk-radio-option>
    </div>
  </app-wizard-step>

  <app-task-return-link taskType="DOAL_APPLICATION_SUBMIT" [levelsUp]="3"></app-task-return-link>
</app-doal-task>
